<section role="members">
    <h4>{{'PROFILE.FRIENDS.TITLE' | translate}}</h4>
    <div class="members">
        <div 
            class="member"
            ng-repeat="friend in ctrl.friends track by $index"
        >
            <div 
                class="pic"
                ui-sref="profile.posts({username:friend.username})"
            >
                <profile-pic
                    size="medium"
                    user="friend"
                ></profile-pic>
            </div>
            <div class="name">
                <strong>{{ friend.fullname }}</strong><br>
                @{{ friend.username }}
            </div>            
        </div>
    </div>
    <button ng-click="ctrl.getMoreFriends()">
        {{ 'PROFILE.FRIENDS.MORE_BUTTON' | translate }}
    </button> 
</section>