.comment-area {
	font-weight: normal;
	background: $WHITE;
	padding: 8px 8px 8px;
	font-size: 12px;
	//width: calc(100% - 24px);
	//@include border-radius(10px);
	@extend .clear;
	.pagination {
		text-align: center;
		margin-bottom: 4px;
		a {
			text-decoration: none;
			color: $MAIN-DARK;
			&:hover {
				color: $MAIN-LIGHT;
			}
		}
	}
	profile-pic {
		float: left;
		margin-right: 10px;
		margin-top: -2px;
	}
	.comments {
		.comment {
			margin: 0 0 10px;
			.message {
				margin-left: 42px;
				word-wrap: break-word;
			}
			&:hover {
				.delete {
					display: block;
				}
			}
		}
	}

	.delete {
		display: none;
		width: 16px;
		height: 16px;
		position: absolute;
		right: 8px;
		&:after {
			background: url("../img/close.png");
			background-size: 10px 10px;
			background-position: 3px 2px;
			background-repeat: no-repeat;
			display: block;
			content: " ";
			float: right;
			width: 16px;
			height: 16px;
			color: white;
			margin: -1px -6px 0 0;
		}
	}

	.characters-left {
		position: absolute;
		top: 0;
		right: 67px;
		font-size: 10px;
		color: #999;
		&.red {
			color: $RED;
		}
	}

	.add-comment {
		position: relative;
	}

	.author-pic {
		width: 30px;
		height: 30px;
		background-size: 30px 30px;
		margin-right: 8px;
		border: 2px solid $MAIN-LIGHT;
		@include border-radius(50px);
		float: left;
	}
	.author {
		padding: 0;
		font-size: 12px;
		color: $MAIN-DARK;
		text-decoration: none;
		&:hover {
			color: $MAIN-LIGHT;
		}
	}
	.add-comment {
		padding-bottom: 4px;
	}
	.date {
		color: $MAIN-DARK;
		display: block;
		font-size: 10px;
		font-weight: normal;
	}

	.content {
		margin: 0;
		font-family: 'Lato';
		font-size: 12px;
		display: inline;
	}

	button {
		width: 60px;
		color: $WHITE;
		border: none;
		background: $SECONDARY-LIGHT;
		&:hover {
			background: $SECONDARY-DARK;
		}
	}
	textarea {
		float: left;
		width: calc(100% - 118px);
		padding: 4px;
		background: $FOOTER-LIGHT;
		border: 1px solid $WHITE;
		resize: none;
		outline: none;
		-webkit-appearance: none;
		&:hover, &:focus {
			background: $WHITE;
		}
	}
}