.create-post {
	width: 600px;
	margin: 10px auto 40px;
	position: relative;
	textarea {
		resize: none;
		padding: 8px;
		border: 1px solid $FOOTER-LIGHT;
		width: 582px;
		font-weight: normal;
		margin-top: -6px;
		&:hover, &:focus {
			background-color: $FOOTER-LIGHT;
		}
	}
	button {
		width: 60px;
  		text-align: center;
  		background-color: $SECONDARY-LIGHT;
  		color: $WHITE;
  		border: none;
  		margin: auto;
  		display: block;
  		font-weight: normal;
  		float: right;
  		margin-top: -23px;
  		line-height: 18px;
  		&:hover {
  			background-color: $SECONDARY-DARK;
  		}
	}
	textarea, input, button {
		outline: none;
		-webkit-appearance: none;
		line-height: 18px;	
	}
	h4 {
		font-weight: normal;
		color: $MAIN-LIGHT;
		font-size: 12px;
		margin: 4px 0 -4px;
	}
	.embed {
		color: $FOOTER-DARK;
		text-decoration: none;
		display: block;
		padding: 8px;
		border: 1px solid $FOOTER-LIGHT;
		margin-top: 8px;
		min-height: 160px;
		font-size: 12px;
		position: relative;
		.cover {
			float: left;
			margin-right: 8px;
		}
		h3 {
			color: $MAIN-LIGHT;
			margin: 0;
			font-size: 16px;
			margin: 0 0 8px;
			font-weight: normal;
		}
		p {
			margin: 0;
		}
		.resource {
			color: $FOOTER-DARK;
			position: absolute;
			bottom: 8px;
			font-weight: normal;
			left: 176px;
			span {
				color: $MAIN-LIGHT;
			}
		}
		.delete {
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			background: $SECONDARY-LIGHT;
			&:hover {
				background: $SECONDARY-DARK;
			}
			&:after {
				background-image: url(../img/plus.png);
				background-repeat: no-repeat;
				background-size: 15px 15px;
				display: block;
				content: " ";
				float: right;
				width: 16px;
				height: 16px;
				color: white;
				@include transform( rotate(45deg) !important );
			}
		}
	}
	.labels {
		margin-top: 8px;
		border: 0;
		display: block;
		ul {
			width: 530px;
		}
		ul, li {
			padding: 0;
			margin: 0;
		}
		li {
			line-height: 20px;
			list-style-type: none;
			display: inline-block;
			span {
				background-image: url('../img/minus@2x.png');
			}
			span, input{
				display: inline;
				padding: 0 20px 0 4px;
				background-color: $MAIN-LIGHT;
				font-size: 10px;
				color: $WHITE;
				text-transform: uppercase;
				text-decoration: none;
				margin: 0 2px 0 0;
				height: 16px;
				line-height: 16px;
				background-repeat: no-repeat;
				background-position: top right;
				background-size: 15px 15px;
				float: left;
				&:hover {
					background-color: $MAIN-DARK;
				}
			}
			input {
				float: left;
				border: 0;
				width: auto;
				text-align: center;
				width: 60px;
				margin-right: 0;
				background-color: $MAIN-DARK;
				background-image: url(../img/plus@2x.png);
				&:hover, &:focus {
					background-color: $MAIN-LIGHT;
				}
			}
			@include placeholder($WHITE);
		}
	}
	.suggested-tags {
		ul li span {
			background-color: $MAIN-DARK;
			background-image: url('../img/plus@2x.png');
			&:hover {
				background-color: $MAIN-LIGHT;
			}
		}
	}
}