.create-post {
	width: calc(100% - 20px);
	margin: 10px auto 20px;
	position: relative;
	@include border-radius(10px);
	background: $BOX-BACKGROUND;
	padding: 8px;
 	border: $BOX-BORDER 1px solid;
	textarea {
		resize: none;
		padding: 8px;
		border: 1px solid $FOOTER-LIGHT;
		width: calc(100% - 18px);
		font-weight: normal;
		&:hover, &:focus {
			background-color: $FOOTER-LIGHT;
		}
	}
	.characters-left {
		position: absolute;
		top: 0;
		right: 6px;
		font-size: 10px;
		color: #999;
		&.red {
			color: $RED;
		}
	}
	button {
		width: 60px;
  		text-align: center;
  		background-color: $SECONDARY-LIGHT;
  		color: $WHITE;
  		border: none;
  		margin: auto;
  		display: block;
  		font-weight: normal;
  		float: right;
  		margin-top: -23px;
  		line-height: 18px;
  		&:hover {
  			background-color: $SECONDARY-DARK;
  		}
	}
	textarea, input, button {
		outline: none;
		-webkit-appearance: none;
		line-height: 18px;	
	}
	h4 {
		font-weight: normal;
		color: $MAIN-LIGHT;
		font-size: 12px;
		margin: 14px 0 -4px;
	}
	.embed {
		color: $FOOTER-DARK;
		text-decoration: none;
		display: block;
		padding: 8px;
		border: 1px solid $FOOTER-LIGHT;
		margin-top: 8px;
		min-height: 160px;
		font-size: 12px;
		position: relative;
		background: $WHITE;
		@include border-radius(10px);
		@extend .clear;
		.cover {
			float: left;
			margin-right: 8px;
			@include border-radius(6px);
			text-align: center;
			img {
				@include border-radius(6px);
				overflow: hidden;
				max-height: 420px;
				max-width: 100%;
			}
			overflow: hidden;
			min-height: 160px;
		}
		h3 {
			color: $MAIN-LIGHT;
			margin: 0;
			font-size: 16px;
			margin: 0 0 8px;
			font-weight: normal;
		}
		p {
			margin: 0;
		}
		a {
			color: $FOOTER-DARK;
			text-decoration: none;
			&:hover {
				color: $MAIN-DARK;
			}
		}
		.resource {
			color: $FOOTER-DARK;
			position: absolute;
			bottom: 8px;
			font-weight: normal;
			left: 176px;
			span {
				color: $MAIN-LIGHT;
			}
		}
		.delete {
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			background: $SECONDARY-LIGHT;
			&:hover {
				background: $SECONDARY-DARK;
			}
			&:after {
				background: url('../img/close.png');
				background-size: 10px 10px;
				margin: 4px -1px -1px 4px;
				background-repeat: no-repeat;
				display: block;
				content: " ";
				float: right;
				width: 16px;
				height: 16px;
				color: white;
			}
		}
		&.full-width {
			.cover {
				float: none;
				width: 100%;
			}
			.resource {
				float: left;
				text-align: right;
				width: 100%;
				position: relative;
				bottom: 0;
				left: 0;
			}
		}
	}
	.labels {
		margin-top: 8px;
		border: 0;
		display: block;
		ul {
			width: calc(100% - 70px);
		}
		ul, li {
			padding: 0;
			margin: 0;
		}
		li {
			line-height: 20px;
			list-style-type: none;
			display: inline-block;
			span {
				background-image: url('../img/minus@2x.png');
			}
			span, input{
				display: inline;
				padding: 0 20px 0 4px;
				background-color: $MAIN-LIGHT;
				font-size: 10px;
				color: $WHITE;
				text-transform: uppercase;
				text-decoration: none;
				margin: 0 2px 0 0;
				height: 16px;
				line-height: 16px;
				background-repeat: no-repeat;
				background-position: top right;
				background-size: 15px 15px;
				float: left;
				&:hover {
					background-color: $MAIN-DARK;
				}
			}
			input {
				float: left;
				border: 0;
				width: auto;
				text-align: center;
				width: 60px;
				margin-right: 0;
				background-color: $MAIN-DARK;
				background-image: url(../img/plus@2x.png);
				&:hover, &:focus {
					background-color: $MAIN-LIGHT;
				}
			}
			@include placeholder($WHITE);
		}
	}
	.suggested-tags {
		@extend .clear;
		margin-bottom: -4px;
		ul li span {
			background-color: $MAIN-DARK;
			background-image: url('../img/plus@2x.png');
			&:hover {
				background-color: $MAIN-LIGHT;
			}
		}
	}
}