<div class="modal">
    <div class="container">
        <h4>{{ 'MODALS.FORGOT_PASSWORD.TITLE' |translate }}</h4>
        <a class="close" ng-click="cancel()"></a>
        <div class="content">
            <form>
                <p>
                    <label for="email">{{ 'MODALS.LOGIN.EMAIL_OR_USERNAME' |translate }}*</label>
                    <input type="text" placeholder="{{ 'MODALS.FORGOT_PASSWORD.EMAIL_OR_USERNAME_PLACEHOLDER' |translate }}" id="email" ng-model="userOrEmail">
                </p>
            </form>
        </div>
        <div class="actions">
               <modal-button
                    class-name="'confirm'"
                    callback="ok()"
                >
                    {{ 'MODALS.FORGOT_PASSWORD.OK' |translate }}
                </modal-button>
                <modal-button
                    class-name="'cancel'"
                    callback="cancel()"
                >
                    {{ 'MODALS.FORGOT_PASSWORD.CANCEL' |translate }}
                </modal-button>
        </div>
    </div>
</div>