<div class="modal" ng-controller="GroupInvitationController as ctrl">
    <div class="container">
        <h4 data-ng-bind-html=" 'MODALS.GROUP_INVITE.TITLE' | translate : {group:ctrl.profile} | htmlSafe"></h4>
        <a class="close" ng-click="cancel()"></a>
        <div class="content">
            <form>
                <p>
                    <label 
                        for="recipient"
                    >
                        {{ 'MODALS.GROUP_INVITE.SELECT_RECIPIENT' |translate }}*
                    </label> 
                    <custom-select
                        model="recipient"
                        delegate="ctrl"
                        collection="ctrl.userAllFriends"
                        key="username"
                        value="fullname"
                        placeholder="{{'MODALS.GROUP_INVITE.SELECT_RECIPIENT_PLACEHOLDER' | translate}}"
                    >
                        <custom-select-selected>
                            <strong>{{$parent.$select.model.fullname}}</strong> @{{$parent.$select.model.username}}
                        </custom-select-selected>
                        <custom-select-item class="profile-entry">
                            <profile-pic
                                size="small"
                                user="$parent.item"
                            >
                            </profile-pic>
                            <strong>{{$parent.item.fullname}}</strong> @{{$parent.item.username}}
                        </custom-select-item>
                    </custom-select>
                </p>
                <p>
                    <ul class="user-list">
                        <li 
                            ng-repeat=" user in ctrl.users "
                            ng-click=" ctrl.removeUser( user ) "
                        >
                            {{user.fullname}}
                        </li>
                    </ul>
                </p>
                <p ng-if="error.users">{{'MODALS.GROUP_INVITE.ERROR.NO_RECIPIENT' | translate}}</p>
                <p ng-if="error.backend" class="hint negative">{{error.backend}}</p>
            </form>
        </div>
        <div class="actions">
               <modal-button
                    class-name="'confirm'"
                    callback="ctrl.inviteUsers(error, ok)"
                >
                    {{ 'MODALS.GROUP_INVITE.OK' |translate }}
                </modal-button>
                <modal-button
                    class-name="'cancel'"
                    callback="cancel()"
                >
                    {{ 'MODALS.GROUP_INVITE.CANCEL' |translate }}
                </modal-button>
        </div>
    </div>
</div>