<div class="modal">
    <div class="container">
        <h4>{{ 'MODALS.LOGIN.TITLE' |translate }}</h4>
        <a class="close" ng-click="cancel()"></a>
        <div class="content">
            <form>
                <p>
                    <label for="email">{{ 'MODALS.LOGIN.EMAIL_OR_USERNAME' |translate }}*</label>
                    <input type="text" placeholder="{{ 'MODALS.LOGIN.EMAIL_OR_USERNAME_PLACEHOLDER' |translate }}" id="email" ng-model="userOrEmail">
                </p>
                <p>
                    <label for="password">{{ 'MODALS.LOGIN.PASSWORD' |translate }}*</label>
                    <input type="password" placeholder="{{ 'MODALS.LOGIN.PASSWORD_PLACEHOLDER' |translate }}" id="password" ng-model="password">
                </p>
            </form>
        </div>
        <div class="secondary-actions">
            <a ng-click="cancel();gotoForgotPassword()">
                {{ 'MODALS.LOGIN.FORGOT_PASSWORD_CTA' | translate  }}
            </a>
        </div>
        <div class="actions">
               <modal-button
                    class-name="'confirm'"
                    callback="ok()"
                >
                    {{ 'MODALS.LOGIN.OK' |translate }}
                </modal-button>
                <modal-button
                    class-name="'cancel'"
                    callback="cancel()"
                >
                    {{ 'MODALS.LOGIN.CANCEL' |translate }}
                </modal-button>
        </div>
    </div>
</div>