<div class="modal">
    <div class="container">
        <h4>{{ 'MODALS.PASSWORD_RESET.TITLE' |translate }}</h4>
        <a class="close" ng-click="cancel()"></a>
        <div class="content">
            <form>
                <p>
                    <label for="password">{{ 'MODALS.PASSWORD_RESET.PASSWORD' |translate }}*</label>
                    <input type="password" placeholder="{{ 'MODALS.PASSWORD_RESET.PASSWORD_PLACEHOLDER' |translate }}" id="password" ng-model="password">
                </p>
                <p ng-if="error.backend" class="hint negative">{{error.backend}}</p>
            </form>
        </div>
        <div class="actions">
               <modal-button
                    class-name="'confirm'"
                    callback="ok()"
                >
                    {{ 'MODALS.PASSWORD_RESET.OK' |translate }}
                </modal-button>
                <modal-button
                    class-name="'cancel'"
                    callback="cancel()"
                >
                    {{ 'MODALS.PASSWORD_RESET.CANCEL' |translate }}
                </modal-button>
        </div>
    </div>
</div>