<div class="modal">
    <div class="container">
        <h4>{{ 'MODALS.REGISTER.TITLE' | translate }}</h4>
        <a class="close" ng-click="cancel()"></a>
        <div class="content">
            <form>
                <p>
                    <label for="email">{{ 'MODALS.REGISTER.EMAIL' | translate }}*</label>
                    <input type="email" placeholder="{{ 'MODALS.REGISTER.PLACEHOLDER' | translate }}" id="email" ng-model="email"
                        ng-change="checkEmailIfRegistered()"
                    >
                    <span ng-if="!isEmailNotRegistered" class="hint">
                        <span class="negative">Already registered!</span> What about <a ng-click="cancel();gotoLogin()">logging in?</a>
                    </span>
                </p>
                <p>
                    <label for="password">{{ 'MODALS.REGISTER.PASSWORD' | translate }}*</label>
                    <input type="password" placeholder="{{ 'MODALS.REGISTER.PLACEHOLDER' | translate }}" id="password" ng-model="password" ng-change="checkPassword()">
                    <span ng-if="error.password" class="hint">
                        <span class="negative">Password seems to be weak</span>
                    </span>
                </p>
                <p>
                    <label for="username">{{ 'MODALS.REGISTER.USERNAME' | translate }}*</label>
                    <input type="text" placeholder="{{ 'MODALS.REGISTER.PLACEHOLDER' | translate }}" id="username" ng-model="username"
                    ng-change="checkUsernameAvailability()"
                    >
                    <span ng-class="isUsernameAvailable ? 'available' : ''" ng-if="username.trim().length > 2" class="hint">
                        <span ng-if="isUsernameAvailable" class="positive">
                            Available!
                        </span>
                        <span ng-if="!isUsernameAvailable" class="negative">
                            Taken
                        </span>
                    </span>
                </p>
                <p>
                    <label for="fullname">{{ 'MODALS.REGISTER.FULLNAME' | translate }}*</label>
                    <input type="text" placeholder="{{ 'MODALS.REGISTER.PLACEHOLDER' | translate }}" id="fullname" ng-model="fullname">
                </p>
                <p>
                    <label for="isBusiness">{{ 'MODALS.REGISTER.IS_BUSINESS' | translate }}</label>
                    <label class="radio">
                        <input type="radio" id="isBusiness" 
                        ng-model="isBusiness" value="true"> {{ 'MODALS.REGISTER.YES' | translate }}
                    </label>
                    <label class="radio">
                        <input type="radio" id="isBusiness" 
                        ng-model="isBusiness" value="false" ng-checked="true"> {{ 'MODALS.REGISTER.NO' | translate }} 
                    </label>
                </p>
                <p class="stretch">
                    <label for="tac">I accept the <a ui-sref="tac">terms &amp; conditions</a>
                        <input type="checkbox" id="tac" ng-model="termsAccepted">
                    </label>
                    <span ng-if="error.termsAccepted" class="hint">
                        <span class="negative">Must accept!</span>
                    </span>
                </p>
            </form>
        </div>
        <div class="secondary-actions">
            Or go to <a ng-click="cancel();gotoLogin()">Login</a>
        </div>
        <div class="actions">
            <modal-button
                    class-name="'confirm'"
                    callback="ok()"
            >
                {{ 'MODALS.REGISTER.OK' | translate }}
            </modal-button>
            <modal-button
                class-name="'cancel'"
                callback="cancel()"
            >
                {{ 'MODALS.REGISTER.CANCEL' |translate }}
            </modal-button>
        </div>
    </div>
</div>