<div class="modal">
    <div class="container">
        <h4>{{ 'MODALS.REGISTER.TITLE' | translate }}</h4>
        <a class="close" ng-click="cancel()"></a>
        <div class="content">
            <form>
                <p>
                    <label for="email">{{ 'MODALS.REGISTER.EMAIL' | translate }}*</label>
                    <input type="email" placeholder="{{ 'MODALS.REGISTER.PLACEHOLDER' | translate }}" id="email" ng-model="email"
                        ng-change="checkEmailIfRegistered()"
                    >
                    <span ng-if="!isEmailNotRegistered" class="hint">
                        <span class="negative">
                            {{ 'MODALS.REGISTER.ERROR.EMAIL_ALREADY_REGISTERED' | translate }}
                        </span><a ng-click="cancel();gotoLogin()">
                            {{ 'MODALS.REGISTER.ERROR.LOGGING_IN' | translate }}
                        </a>
                    </span>
                </p>
                <p>
                    <label for="password">{{ 'MODALS.REGISTER.PASSWORD' | translate }}*</label>
                    <input type="password" placeholder="{{ 'MODALS.REGISTER.PLACEHOLDER' | translate }}" id="password" ng-model="password" ng-change="checkPassword()">
                    <span ng-if="error.password && password.length > 0" class="hint">
                        <span class="negative">{{ 'MODALS.REGISTER.ERROR.PASSWORD_WEAK' | translate }}</span>
                    </span>
                </p>
                <p>
                    <label for="username">{{ 'MODALS.REGISTER.USERNAME' | translate }}*</label>
                    <input type="text" placeholder="{{ 'MODALS.REGISTER.PLACEHOLDER' | translate }}" id="username" ng-model="username"
                    ng-change="checkUsernameAvailability()"
                    >
                    <span ng-class="isUsernameAvailable ? 'available' : ''" ng-if="username.trim().length > 2" class="hint">
                        <span ng-if="isUsernameAvailable" class="positive">
                            {{ 'MODALS.REGISTER.ERROR.USERNAME_AVAILABLE' | translate }}
                        </span>
                        <span ng-if="!isUsernameAvailable" class="negative">
                            {{ 'MODALS.REGISTER.ERROR.USERNAME_TAKEN' | translate }}
                        </span>
                    </span>
                </p>
                <p>
                    <label for="fullname">{{ 'MODALS.REGISTER.FULLNAME' | translate }}*</label>
                    <input type="text" placeholder="{{ 'MODALS.REGISTER.PLACEHOLDER' | translate }}" id="fullname" ng-model="fullname">
                    <span ng-if="error.fullname && fullname.length > 0" class="hint">
                        <span class="negative">{{ 'MODALS.REGISTER.ERROR.FULLNAME_EMPTY' | translate }}</span>
                    </span>
                </p>
                <p>
                    <label for="isBusiness">{{ 'MODALS.REGISTER.IS_BUSINESS' | translate }}</label>
                    <label class="radio">
                        <input type="radio" id="isBusiness" 
                        ng-model="isBusiness" value="true"><span>{{ 'MODALS.REGISTER.YES' | translate }}</span>
                    </label>
                    <label class="radio">
                        <input type="radio" id="isBusiness" 
                        ng-model="isBusiness" value="false" ng-checked="true"> 
                        <span>{{ 'MODALS.REGISTER.NO' | translate }} </span>
                    </label>
                </p>
                <p class="stretch">
                    <label for="tac">
                        <input type="checkbox" id="tac" ng-model="termsAccepted">
                        <span>I accept the <a ui-sref="tac">terms &amp; conditions</a></span>
                    </label>
                </p>
                <p ng-if="error.termsAccepted" class="hint">
                    <span class="negative">{{ 'MODALS.REGISTER.ERROR.TNC_NOT_ACCEPTED' | translate }}</span>
                </p>
            </form>
        </div>
        <div class="secondary-actions">
            {{ 'MODALS.REGISTER.OR_GO_TO' | translate }} 
            <a ng-click="cancel();gotoLogin()">
                {{ 'MODALS.REGISTER.LOGIN' | translate }}
            </a>
        </div>
        <div class="actions">
            <modal-button
                    class-name="'confirm'"
                    callback="ok()"
            >
                {{ 'MODALS.REGISTER.OK' | translate }}
            </modal-button>
            <modal-button
                class-name="'cancel'"
                callback="cancel()"
            >
                {{ 'MODALS.REGISTER.CANCEL' |translate }}
            </modal-button>
        </div>
    </div>
</div>