<div class="modal">
    <div class="container">
        <h4>{{ 'MODALS.SUBSCRIPTION_SUCCESFUL.TITLE' | translate }}</h4>
        <a class="close" ng-click="cancel()"></a>
        <div class="content">
            <p class="message" data-ng-bind-html="'MODALS.SUBSCRIPTION_SUCCESFUL.MESSAGE' | translate | htmlSafe"></p>
        </div>
        <div class="actions">
            <button class="confirm" ng-click="ok()">{{ 'MODALS.SUBSCRIPTION_SUCCESFUL.OK' | translate }}</button>
        </div>
    </div>
</div>