
footer {
	.social {
		top: initial;
		bottom: 30px;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		width: 120px;
	}
	.column {
		margin-bottom: 100px;
		width: 110px;
		&:first-child {
			margin-left: 10px;
		}
	}
}

section[role="motto"] {
	height: 480px !important;
	h1 {
		font-size: 32px !important;
		span {
			font-size: 32px !important;
		}
	}
}