section[role="subscription"] {
	background: $WHITE;
	color: $MAIN-LIGHT;
	padding: 30px 0;
	width: 100%;
	h3 {
		@extend .reset;
		text-align: center;
	}
	p {
		text-align: center;
		font-weight: 400;
		padding: 0 30px;
	}

	button {
		background: $MAIN-LIGHT;
		color: #fff;
		font-size:  18px;
		padding: 8px 16px;
		margin: auto;
		border: none;
		font-weight: 400;
		display: block;
		outline: none;
		text-transform: uppercase;
		&:hover {
			background: $MAIN-DARK;
		}
	}
	input {
		-webkit-appearance: none;
		@include transition(all, 0.3s, ease-in-out);
		border: 2px solid white;
		background: transparent;
		height: 34px;
		line-height: 34px;
		font-weight: 400;
		margin-right: -38px;
		background: $MAIN-LIGHT;
		color: $WHITE;
		width: 240px;
		padding: 4px 16px;
		text-align: center;
		display: block;
		margin: 10px auto 20px;
		&::-webkit-input-placeholder { /* WebKit browsers */
			color:$WHITE;
		}
		&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			color:$WHITE;
		opacity:  1;
		}
		&::-moz-placeholder { /* Mozilla Firefox 19+ */
			color:$WHITE;
		opacity:  1;
		}
		&:-ms-input-placeholder { /* Internet Explorer 10+ */
			color:$WHITE;
		}
		&:focus {
			outline: none;
			background: $MAIN-DARK;
		}
		&:hover {
			background: $MAIN-DARK;
		}
	}
}