.button-positive {
	background: $SECONDARY-LIGHT;
	color: $WHITE;
	display: inline-block;
	padding: 2px 8px;
	text-align: center;
	height: 24px;
	line-height: 18px;
	text-decoration: none;
	margin-top: 4px;
	border: none !important;
	&:hover {
		background: $SECONDARY-DARK;
	}
	&:after {
		background-image: url(../img/plus.png);
		background-repeat: no-repeat;
		background-size: 15px 15px;
		content: " ";
		display: inline-block;
		width: 15px;
		height: 15px;
		margin-top: 1px;
		margin-left: 4px;
		margin-right: -4px;
		float: right;
	}
}