@import "../variables";

profile-pic {
	.profile-pic {
		div {
			border: 2px solid $FOOTER-LIGHT;
			display: block;
			text-align: center;
			color: $WHITE;
			background: $MAIN-LIGHT;
			@include border-radius( 300px );
			position: relative;
			span {
				position: absolute;
				margin: auto;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				padding-bottom: .1em;
			}
		}
	}
}