section[role="groups"] {
	margin: 0 -10px;
	h4 {
		text-indent: 10px;
	}
	.groups {
		width: 930px;
		padding-left:10px;
		margin: auto;
		&:after {
			content: " ";
			width: 1px;
			height: 1px;
			display: block;
			clear: both;
		}
	}
}