body > header {
	background: $MAIN-LIGHT;
	height: 60px;
	color: $WHITE;
	position: fixed;
	top: 0;
	z-index: 2;
	width: 100%;
	//overflow: hidden;
	&:before {
		background: $MAIN-LIGHT;
		display: block;
		width: 100%;
		height: 500px;
		content: " ";
		position: absolute;
		top: -500px;
	}
	& > h1 {
		font-weight: 300;
		margin:auto;
		font-size: 36px;
		line-height: 60px;
		text-indent: 20px;
		cursor: pointer;
		margin-top: -2px;
		@include text-shadow(1px 1px 0px rgba(50, 50, 50, 0.15));
	}
	nav {
		position: absolute;
		right: 6px;
  		top: 8px;
		ul {
			@extend .reset;
			margin-top: 10px;
			display: inline-block;
			li {
				@extend .reset;
				display: inline-block;
				margin-right: 10px !important;
				& > a {
					display: block;
					position: relative;
					background-repeat: no-repeat;
					> span {
						color: $WHITE;
						@include border-radius(20px);
						position: absolute;
						top: -2px;
						right: -2px;
						font-size: 12px;
						color: #fff;
						background: $RED;
						padding: 0px 4px;
					}
				}

				&.login > a, &.sign-up > a {
					margin-top: 8px;
					background: $SECONDARY-LIGHT;
					color: #fff;
					font-size: 16px;
					padding: 11px 16px;
					margin: auto;
					border: none;
					font-weight: 400;
					outline: none;
					text-transform: uppercase;
					text-decoration: none;
  					margin-left: 0;
  					cursor: pointer;
  					display: block;
  					float: right;
				}

				&.sign-up > a {
					background: #fff;
					color:  $SECONDARY-LIGHT;
				}

				// &.profile > a {
				// 	background: url('../img/avatar.jpg');
				// 	background-size: 36px 36px;
				// 	border: 2px solid $WHITE;
				// 	-webkit-border-radius: 36px;
				// 	-moz-border-radius: 36px;
				// 	border-radius: 36px;
				// 	width: 36px;
				// 	height: 36px;
				// }

				&.list {
					position: relative;
					ul {
						display: none;
						position: absolute;
						right: 0px;
						top: 40px;
						width: 180px;
						z-index: 10000;
						border: 2px solid $WHITE;
						&.stretch {
							width: 240px;
							right: -90px;
							li {
								width: 224px;
							}
						}
						li {
							background: $MAIN-DARK;
							display: block;
							width: 164px;
							padding:8px;
							border-top: 1px solid $MAIN-LIGHT;
							text-align: center;
							font-weight: bold;
							cursor: pointer;
							margin: 0 !important;
							notification-view {
								profile-pic {
									float: left;
								}
								& > span {
									text-align: left;
									& > span {
										text-align: left;
										display: inline-block;
										width: 164px;
									}
									& > button {
										display: inline-block;
										margin: 4px 0 0;
										border: 1px solid $MAIN-LIGHT;
										background: $WHITE;
										color: $MAIN-LIGHT;
										padding: 2px 8px;
										text-align: center;
										height: 24px;
										line-height: 20px;
										text-decoration: none;
										border: none;
										&:hover {
											background: $MAIN-DARK;
											border-color: $MAIN-DARK;
										}
										&:disabled {
											background: $FOOTER-LIGHT;
											color: $FOOTER-DARK;
											border-color: $FOOTER-LIGHT;
										}
									}
								}
							}
							a {
								text-decoration: none;
								color: $WHITE;
							}
							&:first-child {
								border-top: none;
							}
							&:hover {
								background: $MAIN-LIGHT;
							}
						}
					}
					& > a:hover, & > a.hover {
						& + ul {
							display: block;
						}
					}
				}

				&.profile {
					profile-pic .profile-pic div{
						border: 2px solid $WHITE !important;
					}
				}

				&.groups > a {
					width: 40px;
					height: 38px;
					background: url('../img/groups@2x.png');
					background-size: 40px 38px;
				}

				&.feed > a {
					width: 40px;
					height: 38px;
					background: url('../img/feed@2x.png');
					background-size: 40px 38px;
				}

				&.messages > a {
					width: 39px;
					height: 38px;
					background: url('../img/messages@2x.png');
					background-size: 39px 38px;
					span {
						top: -4px;
					}
				}

				&.notifications {
					&.show-notifications .notifications-list {
						display: block;
					}
					> a {
						width: 36px;
						height: 40px;
						background: url('../img/bell@2x.png');
						background-size: 36px 40px;
					}
					.notifications-list {
						&:before {
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 0 11px 10px 10px;
							border-color: transparent transparent #ffffff transparent;
							content: " ";
							display: block;
							position: absolute;
							left: 99px;
							top: -10px;
						}
						position: absolute;
						z-index: 1000;
						color: $WHITE;
						display: none;
						border: 2px solid #fff;
						background: none;
						margin-top: 10px;
						width: 222px;
						left: -93px;
						line-height: 18px;
						h4 {
							margin: -8px;
							padding: 8px;
							text-transform: uppercase;
						}
						a {
							text-decoration: none;
							padding: 8px;
							font-size: 14px;
							color:$WHITE;
							background: $MAIN-DARK;
							display: block;
							border-top: 1px solid $MAIN-LIGHT;
							&:first-child {
								border: none;
							}
							&:hover, .label:hover {
								background: $MAIN-LIGHT;
							}
							&.more {
								text-transform: uppercase;
								text-align: center;
							}
							span {
								  background-image: url('img/avatar.jpg');
								  width: 30px;
								  height: 30px;
								  display: block;
								  padding: 0;
								  float: left;
								  border: 2px solid $WHITE;
								  background-size: cover;
								  @include border-radius(20px);
								  margin-right: 4px;
							}
						}
					}
				}
			}
		}
		& .search {
			display: inline-block;
			min-width: 38px;
			height: 42px;
			line-height: 42px;
			margin-right: 10px;
			&:before {
				position: fixed;
				top: 0;
				right: 0;
				height: 60px;
				width: 320px;
				content: " ";
				background: $MAIN-LIGHT;
			}
			&.opened .icon, &:hover .icon {
				-ms-transform: rotate(-90deg); /* IE 9 */
    			-webkit-transform: rotate(-90deg); /* Safari */
    			transform: rotate(-90deg);
			}
			.icon {
				z-index: 10000;
				position: relative;
				@include transition(all, 0.6s, ease-in-out);
				width: 38px;
				height: 38px;
				background: url('../img/search@2x.png');
				background-size: 38px 38px;
				display: block;
				border: none;
				margin-top: 1px;
				&:focus {
					outline: none;
				}
			}
			&.opened input, &:hover input {
				width: 230px;
				background: $MAIN-DARK;
				padding-right: 44px;
				padding-left: 20px;
			}
			&.show-results .results {
				display: block;
			}

			& + ul {
				opacity: 1;
			}

			&.opened + ul {
				opacity: 0;
				@include transition(all, 0.6s, ease-in-out);
			}
			.results {
				position: absolute;
				z-index: 1000;
				color: $WHITE;
				display: none;
				border: 2px solid #fff;
				border-top: 2px solid $MAIN-DARK;
				background: none;
				margin-top: -3px;
				width: 260px;
				left: 14px;
				line-height: 18px;
				h4 {
					margin: -8px;
					padding: 8px;
					text-transform: uppercase;
				}
				a {
					text-decoration: none;
					padding: 8px;
					font-size: 14px;
					color:$WHITE;
					background: $MAIN-DARK;
					display: block;
					border-top: 1px solid $MAIN-LIGHT;
					&:hover, .label:hover {
						background: $MAIN-LIGHT;
					}
					&.more {
						text-transform: uppercase;
						text-align: center;
					}
				}
			}
			input {
				@include transition(all, 0.6s, ease-in-out);
				width: 0px;
				position: relative;
				z-index: 1;
				margin-top: 0px;
				display: block;
				float: left;
				border: 2px solid white;
				background: transparent;
				height: 36px;
				line-height: 36px;
				padding: 0 32px 0 10px;
				-webkit-border-radius: 34px;
				-moz-border-radius: 34px;
				border-radius: 36px;
				margin-right: -38px;
				&::-webkit-input-placeholder { /* WebKit browsers */
					color:$WHITE;
				}
				&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
					color:$WHITE;
				opacity:  1;
				}
				&::-moz-placeholder { /* Mozilla Firefox 19+ */
					color:$WHITE;
				opacity:  1;
				}
				&:-ms-input-placeholder { /* Internet Explorer 10+ */
					color:$WHITE;
				}
				&:focus {
					outline: none;
					background: $MAIN-DARK;
					width: 230px;
					padding-right: 44px;
					padding-left: 20px;
				}
			}
		}
	}
}