section[role="members"] {
	margin: auto;
	.members {
		margin: 40px -5px 0;
		.member {
			&.admin {
				.pic {
					border-color: $MAIN-LIGHT;
				}
				.name {
					color: $MAIN-LIGHT;
				}
			}
			width: 120px;
			height: 160px;
			float: left;
			.pic {
				width: 80px;
				height: 80px;
				@include border-radius(80px);
				border: 5px solid $FOOTER-LIGHT;
				margin: auto;
				background-size: cover;
				color: $WHITE;
				.photo {
					border: none !important;
				}
			}
			.name {
				text-align: center;
				color: $SECONDARY-DARK;
				margin: auto;
			}
			&:hover {
				cursor: pointer;
				.name {
					color: $SECONDARY-LIGHT;
				}
				.pic {
					border-color: $SECONDARY-LIGHT;
				}
			}
		}
		&:after {
			width: 1px;
			height: 1px;
			clear: both;
			display: block;
			content: " ";
		}
	}
	button {
		background: $SECONDARY-LIGHT;
		color: $WHITE;
		border: none;
		display: block;
		margin: auto;
		&:hover {
			background: $SECONDARY-DARK;
		}
	}
}