section[role="members"] {
	margin: auto;
	.members {
		margin: 0 -5px;
		.member {
			&.admin {
				.pic {
					border-color: $MAIN-LIGHT;
				}
				.name {
					color: $MAIN-LIGHT;
				}
			}
			width: 120px;
			height: 160px;
			float: left;
			.pic {
				margin: auto;
				width: 84px;
			}
			.name {
				text-align: center;
				color: $SECONDARY-DARK;
				margin: auto;
			}
			&:hover {
				cursor: pointer;
				.name {
					color: $SECONDARY-LIGHT;
				}
				.pic {
					border-color: $SECONDARY-LIGHT;
				}
			}
		}
		&:after {
			width: 1px;
			height: 1px;
			clear: both;
			display: block;
			content: " ";
		}
	}
	button {
		background: $SECONDARY-LIGHT;
		color: $WHITE;
		border: none;
		display: block;
		margin: 4px auto;
		&:hover {
			background: $SECONDARY-DARK;
		}

		&:after {
			display: block;
			content: " ";
			float: right;
			width: 16px;
			height: 16px;
			margin-top: 2px;
			margin-left: 2px;
		}
		&.create:after {
			background-image: url(../img/plus.png);
			background-repeat: no-repeat;
			background-size: 15px 15px;
			background-size: 15px 15px;
		}
		&.minus {
			background: $RED;
			&:after {
				background-image: url(../img/minus.png);
				background-repeat: no-repeat;
				background-size: 15px 15px;
				background-size: 15px 15px;
			}
		}
	}
}