section[role="members"] {
	margin: auto;
	.members {
		margin: -10px -10px 0;
		.member {
			border: 1px solid $BOX-BORDER;
			background: $BOX-BACKGROUND;
			&.you {
				border-color: $SECONDARY-LIGHT;
				background: $FOOTER-LIGHT;
			}
			min-width: 120px;
			max-width: 25%;
			width: calc(100% - 28px);
			padding: 4px;
			height: 180px;
			float: left;
			margin: 10px;
			@include border-radius(10px);
			@extend .clear;
			&.admin {
				.pic {
					border-color: $MAIN-LIGHT;
				}
				.name {
					color: $MAIN-LIGHT;
				}
			}
			.pic {
				margin: auto;
				width: 84px;
			}
			.name {
				text-align: center;
				color: $SECONDARY-DARK;
				margin: auto;
			}
		}
		&:after {
			width: 1px;
			height: 1px;
			clear: both;
			display: block;
			content: " ";
		}
	}
	button {
		background: $SECONDARY-LIGHT;
		color: $WHITE;
		border: none;
		display: block;
		margin: 4px auto;
		&:hover {
			background: $SECONDARY-DARK;
		}

		&:after {
			display: block;
			content: " ";
			float: right;
			width: 16px;
			height: 16px;
			margin-top: 2px;
			margin-left: 2px;
		}
		&.create:after {
			background-image: url(../img/plus.png);
			background-repeat: no-repeat;
			background-size: 15px 15px;
			background-size: 15px 15px;
		}
		&.minus {
			background: $RED;
			&:after {
				background-image: url(../img/minus.png);
				background-repeat: no-repeat;
				background-size: 15px 15px;
				background-size: 15px 15px;
			}
		}
	}
}