section[role="messages"] {
	.compose {
		textarea {
			resize: none;
			padding: 8px;
			border: 1px solid $FOOTER-LIGHT;
			width: calc(100% - 110px);
			font-weight: normal;
			display: block;
			margin: auto;
			&:hover, &:focus {
				background-color: $FOOTER-LIGHT;
			}
		}
		button {
	  		text-align: center;
	  		background-color: $SECONDARY-LIGHT;
	  		color: $WHITE;
	  		border: none;
	  		display: block;
	  		font-weight: normal;
	  		margin: 4px auto 10px;
	  		&:hover {
	  			background-color: $SECONDARY-DARK;
	  		}
	  		&:after {
	  			content: " ";
	  			display: block;
	  			float: right;
	  			height: 16px;
	  			width: 16px;
				background-image: url(../img/mail.png);
				background-repeat: no-repeat;
				background-size: 16px 16px;
				margin-top: 1px;
				margin-left: 4px;
				margin-top: 2px;
			}
		}
	}
	.messages {

		button {
			background: $SECONDARY-LIGHT;
			color: $WHITE;
			border: none;
			margin: auto;
			display: block;
			margin: 10px auto;
			&:hover {
				background: $SECONDARY-DARK;
			}
		}

		.message {
			&:first-child {
				border-top: none;
			}
			display: block;
			width: 100%;
			margin: 10px auto;
			border-top: 1px solid $FOOTER-LIGHT;
			padding-top: 20px;
			text-align: left;
			.head {
				position: relative;
				display: block;
				@extend .clear;
				.author-pic {
					width: 44px;
					height: 44px;
					float: left;
					margin-right: 10px;
				}
				.author {
					float: left;
					font-weight: 700;
					color: $MAIN-DARK;
					margin-top: 4px;
					font-weight: normal;
				}
				.date {
					float: left;
					color: $FOOTER-DARK;
					font-size: 12px;
					font-weight: normal
				}
			}
			&.in-thread {
				.content {
					margin-top: -26px;
				}
			}
			.content {
				font-weight: normal;
				margin-bottom: 16px;
				font-family: 'Lato';
				display: block;
				width: calc(100% - 98px);
				margin-left: 54px;
				overflow: initial !important;
				white-space: pre-wrap;
			}
			> a {
				background: $SECONDARY-LIGHT;
				color: $WHITE;
				display: inline-block;
				float: right;
				padding: 2px 8px;
				text-align: center;
				height: 20px;
				line-height: 20px;
				text-decoration: none;
				margin-top: 4px;
				&:hover {
					background: $SECONDARY-DARK;
				}
				&:after {
					background-image: url(../img/plus.png);
					background-repeat: no-repeat;
					background-size: 15px 15px;
					content: " ";
					display: inline-block;
					width: 15px;
					height: 15px;
					margin-top: 3px;
					margin-left: 4px;
					margin-right: -4px;
					float: right;
				}
			}

			&.right {
				.head {
					.author-pic {
						float: right;
					}
					.date {
						float: right;
					}
					.author {
						float: right;
					}
				}
			}

			// &.left {
			// 	.head {
			// 		float: left;
			// 	}
			// 	.content {
			// 		margin-left: 80px;
			// 	}
			// 	.author-pic {
			// 		float: left;
			// 		margin-right: 16px;
			// 	}
			// 	.author {
			// 		text-align: left;
			// 	}
			// 	.date {
			// 		text-align: left;
			// 	}
			// }
			// &.right {
			// 	.head {
			// 		float: right;
			// 	}
			// 	.content {
			// 		margin-right: 80px;
			// 	}
			// 	.author-pic {
			// 		float: right;
			// 		margin-left: 16px;
			// 	}
			// 	.author {
			// 		text-align: right;
			// 	}
			// 	.date {
			// 		text-align: right;
			// 	}
			// }
			&:after {
				content: " ";
				width: 1px;
				height: 1px;
				display: block;
				clear: both;
			}
		}
	}
}