section[role="messages"] {
	.compose {
		textarea {
			resize: none;
			padding: 8px;
			border: 1px solid $FOOTER-LIGHT;
			width: 582px;
			font-weight: normal;
			&:hover, &:focus {
				background-color: $FOOTER-LIGHT;
			}
		}
		button {
	  		text-align: center;
	  		background-color: $SECONDARY-LIGHT;
	  		color: $WHITE;
	  		border: none;
	  		margin: auto;
	  		display: block;
	  		font-weight: normal;
	  		float: right;
	  		margin: 4px 0 10px;
	  		&:hover {
	  			background-color: $SECONDARY-DARK;
	  		}
	  		&:after {
	  			content: " ";
	  			display: block;
	  			float: right;
	  			height: 16px;
	  			width: 16px;
				background-image: url(../img/mail.png);
				background-repeat: no-repeat;
				background-size: 16px 16px;
				margin-top: 1px;
				margin-left: 4px;
				margin-top: 2px;
			}
		}
	}
	.messages {
		.message {
			&:first-child {
				border-top: none;
			}
			display: block;
			width: 600px;
			margin: 10px auto;
			border-top: 1px solid $FOOTER-LIGHT;
			padding-top: 20px;
			.head {
				position: relative;
				.author-pic {
					width: 60px;
					height: 60px;
					background-size: 60px 60px;
					border: 2px solid $MAIN-LIGHT;
					@include border-radius(50px);
				}
				.author {
					font-weight: 700;
					color: $MAIN-DARK;
					padding-top: 14px;
					font-weight: normal;
				}
				.date {
					color: $FOOTER-DARK;
					font-size: 12px;
					font-weight: normal
				}
			}
			.content {
				font-weight: normal;
				margin-bottom: 16px;
			}
			> a {
				background: $SECONDARY-LIGHT;
				color: $WHITE;
				display: inline-block;
				float: right;
				padding: 2px 8px;
				text-align: center;
				height: 20px;
				line-height: 20px;
				text-decoration: none;
				margin-top: 4px;
				&:hover {
					background: $SECONDARY-DARK;
				}
				&:after {
					background-image: url(../img/plus.png);
					background-repeat: no-repeat;
					background-size: 15px 15px;
					content: " ";
					display: inline-block;
					width: 15px;
					height: 15px;
					margin-top: 3px;
					margin-left: 4px;
					margin-right: -4px;
					float: right;
				}
			}
			&.left {
				.content {
					margin-left: 80px;
				}
				.author-pic {
					float: left;
					margin-right: 16px;
				}
				.author {
					text-align: left;
				}
				.date {
					text-align: left;
				}
			}
			&.right {
				.content {
					margin-right: 80px;
				}
				.author-pic {
					float: right;
					margin-left: 16px;
				}
				.author {
					text-align: right;
				}
				.date {
					text-align: right;
				}
			}
			&:after {
				content: " ";
				width: 1px;
				height: 1px;
				display: block;
				clear: both;
			}
		}
	}
}