main {
	min-height: calc(100% - 301px);
	.wrap {
		width: calc(100% - 20px) !important;
		padding-left:10px;
		padding-right:10px;
		& > .content {
			width: 100% !important;
			margin-right: 0px !important;
		}
	}
}

header {
	h1 {
		width: 43px;
		float: left;
		overflow: hidden;
	}
}

body > header nav ul li.login, body > header nav ul li.sign-up > a {
	font-size: 16px !important;
	margin-top: 0;
}

body > header nav {
	.search {
		position: absolute;
		left: calc(100% - 302px);
		margin-right: 0 !important;
		background: $MAIN-LIGHT;
	}
}

.post {
	width: auto !important;
}

.post .head .labels {
	clear: both;
}
.post .head .star {
	position: relative !important;
	float: left !important;
	top: 0 !important;
	right: 0 !important;
	margin-top: -1px;
	clear: right;
}
.post .head .hearth {
	text-align: left !important;
	position: relative !important;
	top: 0 !important;
	right: 0 !important;
	float: left;
	margin: 10px auto;
	&:after {
		float: left !important;
		margin-right: 4px;
	}
}

.modal .container {
	width: calc(100% - 40px) !important;
	max-width: 578px;
	max-height: calc(100% - 40px) !important;
	height: auto;
	top: 10px !important;
	left: 10px;
	right: 10px;
	overflow: auto;
}

aside {
	display: none;
}

section[role="posting-box"] {
	width: 100%;
	.create-post {
		width: 100%;
		textarea {
			width: calc(100% - 18px);
		}
		.labels {
			ul {
				width: calc(100% - 70px);
			}
		}
	}
}

main > nav {
	.actions {
		a {
			span {
				display: none;
			}
		}
	}
}

.create-post .embed .resource {
	position: relative !important;
	bottom: 0 !important;
	left: 0 !important;
}

footer {
	.social {
		top: initial;
		bottom: 30px;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		width: 120px;
	}
	.column {
		margin-bottom: 100px;
		width: calc(50% - 50px);
		&:first-child {
			margin-left: 10px;
		}
	}
}

section[role="motto"] {
	height: 480px !important;
	h1 {
		font-size: 32px !important;
		span {
			font-size: 32px !important;
		}
	}
}

section[role="features"] {
	width: 100%;
}

section[role="recommendations"] {
	.recommendation {
		margin-bottom: 20px;
		.photo {
			img {
				width: 60px;
				height: 60px;
			}
		}

		.quote {
			margin-left: 70px !important;
			font-size: 14px;
			&:before {
				left: 70px !important;
			}
		}

	}
}

section[role="subscription"] {
	button {
		font-size: 18px !important;
  		padding: 5px 10px !important;
	}
}

body > header nav ul li {
	display: inline-block;
	margin: 0 4px !important;
}