main {
	min-height: calc(100% - 301px);
	.wrap {
		width: calc(100% - 20px) !important;
		padding-left:10px;
		padding-right:10px;
		& > .content {
			width: 100% !important;
			margin-right: 0px !important;
		}
	}
}

header {
	h1 {
		width: 43px;
		float: left;
		overflow: hidden;
	}
}

body > header nav ul li.login, body > header nav ul li.sign-up > a {
	font-size: 16px !important;
	margin-top: 0;
}

.modal .container {
	width: 300px !important;
	top: 60px !important;
}

aside {
	display: none;
}

section[role="posting-box"] {
	width: 100%;
	.create-post {
		width: 100%;
		textarea {
			width: calc(100% - 18px);
		}
		.labels {
			ul {
				width: calc(100% - 70px);
			}
		}
	}
}

main > nav {
	.actions {
		a {
			span {
				display: none;
			}
		}
	}
}

footer {
	.social {
		top: initial;
		bottom: 30px;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		width: 120px;
	}
	.column {
		margin-bottom: 100px;
		width: calc(50% - 50px);
		&:first-child {
			margin-left: 10px;
		}
	}
}

section[role="motto"] {
	height: 480px !important;
	h1 {
		font-size: 32px !important;
		span {
			font-size: 32px !important;
		}
	}
}

section[role="features"] {
	width: 100%;
}
section[role="subscription"] {
	button {
		font-size: 18px !important;
  		padding: 5px 10px !important;
	}
}

.search {
	position: absolute;
	left: calc(100% - 302px);
	margin-right: 0 !important;
	background: $MAIN-LIGHT;
}

body > header nav ul li {
	display: inline-block;
	margin: 0 4px !important;
}