.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 10001;
	.container {
		position: fixed;
		z-index: 10002;
		width: 578px;
		border: 1px solid $SECONDARY-LIGHT;
		padding: 10px;
		top: 160px;
		left: 0;
		right: 0;
		margin: auto;
		background: $FOOTER-LIGHT;
		h4 {
			margin: 0;
			text-transform: uppercase;
			font-size: 16px;
			font-weight: bold;
			color: $SECONDARY-LIGHT;
		}

		.actions {
			float: right;
			> button {
				border: 1px solid $SECONDARY-LIGHT;
			}
			.confirm {
				background: $SECONDARY-LIGHT;
				color: $WHITE;
				&:hover {
					background: $SECONDARY-DARK;
				}
			}
			.cancel {
				background: $WHITE;
				color: $SECONDARY-LIGHT;
				&:hover {
					background: $FOOTER-LIGHT;
				}
			}
		}
		.close {
			width: 13px;
			height: 12px;
			background: url('../img/close@2x.png');
			background-size: 13px 12px;
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			padding: 10px;
  			background-repeat: no-repeat;
  			background-position: center center;
  			cursor: pointer;
  			border: none;
  			background-color: $SECONDARY-LIGHT;
  			&:hover {
  				background-color:SECONDARY-DARK;
  			}
		}
		.selection {
			border: 1px solid $WHITE;
			background: $WHITE;
			&:hover {
				background: $FOOTER-LIGHT;
			}
			float: left;
			color: $SECONDARY-LIGHT;
			padding: 2px 4px;
			position: relative;
			.current-label {
				display: inline-block;
				float: left;
				padding-right: 20px;
			}
			button {
				background: url('../img/selection@2x.png');
				background-size: 17px 10px;
				background-position: center center;
				width: 24px;
				height: 20px;
				border: none;
				display: inline-block;
				background-repeat: no-repeat;
				position: absolute;
				top: 0;
				bottom: 0;
				margin: auto;
				right: 0;

			} 
			ul {
				display: none;
				position: absolute;
				background: #fff;
				padding: 4px;
				left: 0;
				width: 180px;
				top: 40px;
			}
			ul, li {
				padding: 0;
				margin: 0;
				list-style-type: none;
			}
			img {
				width: 30px;
				height: 30px;
				float: left;
				border: 2px solid $FOOTER-LIGHT;
				margin-right: 4px;
				@include border-radius(30px);
				+ span {
					line-height: 34px;
				}
			}
			li {
				@extend .clear;
				padding: 4px;
			}
			&.show {
				ul {
					display: block;
				}
			}
		}
		label {
			width: 140px;
			display: block;
			float: left;
			line-height: 40px;
		}
		p {
			margin: 10px 0;
			@extend .clear;
		}

		input {
			border: 1px solid $WHITE !important;
			padding: 10px !important;
			min-width: 200px !important;
			background: $WHITE !important;
			&:hover, &:focus {
				background: $FOOTER-LIGHT !important;
			}
		}

		textarea {
			border: 1px solid $WHITE;
			width: 418px;
			padding: 8px;
			background: $WHITE;
			&:hover, &:focus {
				background: $FOOTER-LIGHT;
			}
		}
		@extend .clear;
	}
}

.modal-background {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 10000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: " ";
	display: block;
	background: rgba(255, 255, 255, 0.7);
}
