main {
	.wrap {
		width: 920px;
		margin: auto;
		margin-bottom: 20px;
		section {
			width: 100%;
		}
		hr {
			clear: both;
		}
		.message {
			text-align: center;
		}
		& > .content {
			width: 600px;
			float: left;
			margin-right: 10px;
		}
		& > aside {
			width: 310px;
			float: left;
		}
		&:after {
			content: " ";
			width: 1px;
			height: 1px;
			display: block;
			clear: both;
		}
	}
	h4 {
		font-size: 14px;
		text-transform: uppercase;
		font-weight: bold;
		margin: 10px 0 4px;
		color: $SECONDARY-LIGHT;
		
		.label {
			// margin-top: -2px;
			// display: inline-block;
			// padding: 0 2px;
		}
	}
	aside {
		section {
			width: 100%;
		}
	}
}