main {
	.wrap {
		width: 920px;
		margin: auto;
		margin-bottom: 20px;
		section {
			width: 100%;
		}
		hr {
			clear: both;
		}
		.message {
			text-align: center;
		}
		& > .content {
			width: 600px;
			float: left;
			margin-right: 10px;
			&.full {
				width: 100%;
			}
			&.static {
				font-size: 16px;
			}
		}
		& > aside {
			width: 310px;
			float: left;
		}
		&:after {
			content: " ";
			width: 1px;
			height: 1px;
			display: block;
			clear: both;
		}
	}
	h4 {
		font-size: 14px;
		text-transform: uppercase;
		font-weight: bold;
		margin: 10px 0 14px;
		color: $SECONDARY-LIGHT;
		a {
			color: $SECONDARY-LIGHT;
			&:hover {
				color: $SECONDARY-DARK;
			}
		}
		.label {
			// margin-top: -2px;
			// display: inline-block;
			// padding: 0 2px;
		}
	}
	h5 {
		font-size: 16px;
		margin: 4px 0 8px;
	}
	a {
		color: $SECONDARY-LIGHT;
	}
	aside {
		section {
			margin-top: 10px;
			width: 100%;
			background: $BOX-BACKGROUND;
			border: 1px solid $BOX-BORDER;
			padding: 8px;
			@include border-radius(10px);
			h4 {
				font-size: 12px;
				margin: 0 0 4px;
			}
		}
	}
}