main > nav {
	& > ul {
		position: fixed;
		top: 60px;
		padding: 0 10px;
		left: 0;
		right: 0;
	  	width: auto;
	  	background: rgba(0, 191, 255, 0.6);
	}
  	&:after {
  		background: $SECONDARY-LIGHT;
  		position: fixed;
  		top: 60px;
  		left: 0;
  		min-height: 26px;
  		width: 100%;
  		content: " ";
  		display: block;
  		z-index: 91;
  	}
  	.actions {
		text-align: right;
		position: fixed;
		top: 60px;
		right: 3px;
		z-index: 102;
		padding-right: 6px;
		& > span {
			display: inline;
			position: relative;
		}
		a {
			color: $WHITE;
			display: block;
			float: right;
			text-align: left;
			font-size: 14px;
			text-decoration: none;
			line-height: 18px;
			padding: 3px 10px 5px 6px;
			& + ul {
				display: none;
				overflow: auto;
				position: absolute;
				z-index: 103;
				top: 26px;
				left: -126px;
				width: 160px;
				padding: 0 !important;
				background: $SECONDARY-LIGHT;
				li {
					background: $SECONDARY-LIGHT;
					width: 100%;
					display: block;
					a {
						width: calc(100% - 16px) !important;
						&.active {
							background: $SECONDARY-DARK;
						}
					}
					&:first-child {
						border-top: none;
					}
					&:hover {
						background: $SECONDARY-DARK;
					}
				}
			}
			&.hover + ul,
			&:hover + ul {
				display: block;
			}
		}
	}
  	ul, li {
		margin: 0;
		display: inline-block;
		z-index: 101;
	}
	li {
		position: relative;
		padding: 0;
	}
	a {
		padding: 3px 10px 5px;
		color: $WHITE;
		text-decoration: none;
		font-size: 14px;
		line-height: 18px;
		display: inline-block;
		cursor: pointer;

		//&.filter, &.star, &.camera,
		&.list {
			& + ul {
				display: none;
				position: absolute;
				z-index: 103;
				top: 26px;
				left: 0;
				width: 120px;
				padding: 0 !important;
				max-height: 850% !important;
				overflow: scroll;
				li {
					background: $SECONDARY-LIGHT;
					width: 100%;
					a {
						width: calc(100% - 20px);
						&.active {
							background: $SECONDARY-DARK;
						}
					}
					&:first-child {
						border-top: none;
					}
					&:hover {
						background: $SECONDARY-DARK;
					}
				}
			}
			&.hover + ul,
			&:hover + ul {
				display: block;
			}
		}
		span {
			margin-right: 2px;
		}
		&:after {
			display: block;
			content: " ";
			float: right;
			width: 16px;
			height: 16px;
			margin-top: 2px;
			margin-left: 2px;
		}
		&:hover, &.active {
			background: $SECONDARY-DARK;
		}
		&.create:after {
			background-image: url(../img/plus.png);
			background-repeat: no-repeat;
			background-size: 15px 15px;
			background-size: 15px 15px;
		}
		&.minus:after {
			background-image: url(../img/minus.png);
			background-repeat: no-repeat;
			background-size: 15px 15px;
			background-size: 15px 15px;
		}
		&.hearth:after {
			background-image: url(../img/hearth-white.png);
			background-repeat: no-repeat;
			background-size: 16px 16px;
		}
		&.star:after {
			background-image: url(../img/star.png);
			background-repeat: no-repeat;
			background-size: 16px 16px;
		}
		&.members:after {
			background-image: url(../img/members.png);
			background-repeat: no-repeat;
			background-size: 16px 16px;
		}
		&.filter:after {
			background-image: url(../img/filter.png);
			background-repeat: no-repeat;
			background-size: 16px 16px;
		}
		&.message:after {
			background-image: url(../img/mail.png);
			background-repeat: no-repeat;
			background-size: 16px 16px;
			margin-top: 1px;
		}
		&.article:after {
			background-image: url(../img/article.png);
			background-repeat: no-repeat;
			background-size: 16px 15px;
		}
		&.videos:after {
			background-image: url(../img/video.png);
			background-repeat: no-repeat;
			background-size: 16px 15px;
		}
		&.events:after {
			background-image: url(../img/events.png);
			background-repeat: no-repeat;
			background-size: 15px 15px;
		}
		&.feed:after {
			background-image: url(../img/feed_mini.png);
			background-repeat: no-repeat;
			background-size: 15px 15px;
		}
		&.camera:after {
			background-image: url(../img/camera.png);
			background-repeat: no-repeat;
			background-size: 14px 12px;
			background-position-y: 1px;
		}
	}
}