main > header {
	height: 400px;
	margin: -2px 0 0;
	position: relative;
	z-index: 100;
	background-size: cover !important;
	background-position-y: 50% !important;
	h1 {
		text-align: center;
		margin: 0;
		padding-top: 110px;
		font-size: 42px;
		color: $WHITE;
		text-shadow: 1px 1px 0 #000;
	}
	h2 {
		text-align: center;
		margin: 0;
		padding: 10px 0;
		position: absolute;
		display: block;
		left: 0;
		right: 0;
		bottom: -110px;;
		color: $MAIN-LIGHT;
		font-weight: normal;
		font-size: 24px;
		line-height: 18px;
		.username {
			font-size: 12px;
		}
	}

	profile-pic {
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		bottom: -40px;
		width: 228px;
		.photo {
			@include box-shadow(0px 0px 15px 0px rgba(50, 50, 50, 0.75));
		}
	}
	.delete-cover-pic,
	.change-cover-pic,
	.delete-profile-pic,
	.change-profile-pic {
		cursor: pointer;
		position: absolute;
		border-radius: 3px;
    	background: $MAIN-DARK;
		left: 0;
		right: 0;
		margin: auto;
		top: 337px;
		z-index: 1000;
		color: $WHITE;
		width: 156px;
		text-align: center;
		padding: 10px;
		font-size: 1.1em;
	}
	.delete-profile-pic {
		background: $RED;
		top: 387px;
	}

	.change-cover-pic {
		top: 110px;
	}

	.delete-cover-pic {
		top: 160px;
		background: $RED;
	}

	.profile-pic div {
		border: 4px solid $FOOTER-LIGHT;
	}
	&.profile-header {
		margin-bottom: 90px;
	}

	input {
		text-align: center;
  		border: 2px dashed $FOOTER-LIGHT;
  		margin: -8px;
	}
}