$MAIN-LIGHT: #5CE3D0;
$MAIN-DARK: #28B0A3;
$WHITE: #fff;
$SECONDARY-LIGHT: #00BFFF;
$SECONDARY-DARK: #198EBF;
$FOOTER-DARK: #444;
$FOOTER-LIGHT: #eee;
$RED: #E3410B;
$GREEN: #2CC970;
$YELLOW: #f79220;

$BOX-BORDER: #f1f1f1;
$BOX-BACKGROUND: #f9f9f9;

$OPACITY_85: rgba(0, 0, 0, 0.85);