@import "variables";
@import "helpers";

section {
    float: left;
}

@import "motto";
@import "features";
@import "subscription";

@media only screen and (max-width: 41em) {
    section[role="motto"] {
		min-height: 300px;
		.wrap {
			top: 31%;
		}
		h1 {
			line-height: 42px;
			font-size: 36px;
			& > span {
				font-size: 40px;
			}
		}
		a {
			font-size:  18px;
			padding: 5px 10px;
		}
	}
	section[role="features"] {
		padding-top: 20px;
		.feature {
			width: 100%;
			float: none;
		}
	}

	section[role="subscription"] {
		input {
			font-weight: 300;
			width: 220px;
		}
	}
}