section[role="friends-sidebar"] {
	.friends {
		margin: 0 -4px;
		@extend .clear;
		.friend {
			margin: 4px;
			padding: 0;
			width: 42px;
			height: 42px;
			float: left;
			.photo {
				&:hover {
					border-color: $SECONDARY-LIGHT !important;
				}
			}
		}
		@extend .clear;
	}
	& > button {
		float: right;
	}
}