section[role="friends-sidebar"] {
	.friends {
		margin: -2px;
		tooltip {
			float: left;
		}
		.friend {
			margin: 2px;
			width: 42px;
			height: 42px;
			border: 2px solid $FOOTER-LIGHT;;
			@include border-radius(55px);
			background-size: cover;
			float: left;
			cursor: pointer;
			&.no-photo {
				text-align: center;
				line-height: 40px;
				text-decoration: none;
				color: #fff;
				font-size: 24px;
			}
			&:hover {
				border-color: $SECONDARY-LIGHT;
			}
		}
		@extend .clear;
	}
}