<div class="wrap">
    <div class="content full static">
        <section role="about-zendeck">
        	<h4>{{ 'ABOUT.TITLE' | translate }}</h4>
        	<p>ZenDeck is a Social Network credited for professional usage such as knoweledge sharing and collaboration among peers via group conversations. In the era buzzling information all social networks lack the functionality of collecting and organizing media while thousands of useful materials get shared in groups and in social feeds. This simply meens value gets lost as the time progresses.</p>
        	<p>This platfrom tries to fill the gap between how Reddit unites people around interests while extending the original group conversation model.</p>
        	<p>We hope you will have a great and useful time using this app.</p>
        </section>
    </div>
</div>
