<div class="wrap">
    <div class="content full static">
        <section role="contact">
        	<h4>{{ 'CONTACT.TITLE' | translate }}</h4>
        	<h5>Postal Address:</h5>
            <p>
                <strong>Pear Labs LLC.</strong><br>
                Nagyvenyim,<br>
                Attila str. 22.<br>
                HU2421, Fejer county<br>
                Hungary, European Union
            </p>
            <h5>Email:</h5>
            <p>
                <strong>Arpad Kiss</strong>, CEO: 
                <ul>
                    <li><a href="mailto:arpad@zendeck.co">arpad@zendeck.co</a></li>
                    <li><a href="https://www.linkedin.com/in/arpi11">https://www.linkedin.com/in/arpi11</a></li>
                </ul>
                Support: <a href="mailto:support@zendeck.co">support@zendeck.co</a><br>
                Info/enquiry: <a href="mailto:info@zendeck.co">info@zendeck.co</a><br>
            </p>
        </section>
    </div>
</div>
