<div class="wrap">
    <div class="content full static">
        <section role="contact">
        	<h4>{{ 'CONTACT.TITLE' | translate }}</h4>
        	<p>Send us email:</p>
            <p>
                <input type="text" name="name" placeholder="Your name">
            </p>
            <p>
                <input type="email" name="email" placeholder="Your email address">
            </p>
            <p>
                <textarea class="msd-elastic" placeholder="Type your message here"></textarea>
            </p>
            <p>
                <button>Send email</button>
            </p>
            <p>Or contact our CEO directly: <a href="mailto:arpad@zendeck.co">arpad@zendeck.co</a></p>
        </section>
    </div>
</div>
