<div class="wrap">
    <div class="content full static">
        <section role="faq">
        	<h4>{{ 'FAQ.TITLE' | translate }}</h4>
        	<h5>What is ZenDeck exactly?</h5>
        	<p>ZenDeck is a Social Network credited for professional usage such as knoweledge sharing and collaboration among peers via group conversations. For more information check the <a ui-sref="about">About</a> page.</p>
        	<h5>This is the new Facebook?</h5>
        	<p>No, it is not intended to, however at a certain point in time we will let wider audience to get access to the platfrom. During the beta we only focus on students.</p>
        	<h5>What does 'business' account mean?</h5>
        	<p>For longer term it is related to our business model, however now company profiles have a quite identical user profiles as our regular users.</p>
        	<h5>What about security?</h5>
        	<p>For security we use the same methods like anyone else such as SSL, enryption and Private Cloud. Moreover we are not intended to ask users for additional private information besides what we require in the registration process (apart from optional birthday).</p>
        	<h5>What does 'premium access' mean?</h5>
        	<p>Premium access means that a user is able to create secret (invite only) groups, turn on moderation in a group and upload files up to 2GB (TBA). Initially every university student gets a 1 year premium subscription. In the future we will chage monthly or yearly subscription fee for these extras, but the core platfrom will remain free.</p>
        </section>
    </div>
</div>
