            <nav>
                <ul>
                    <li>
                        <a ui-sref="feed.posts" class="feed" 
                        ng-class="ctrl.activeState == ctrl.FEED_STATES.POSTS ? 'active' : ''">
                            {{ 'HEADER.SUB_MENU.FEED' | translate }}
                    </a>
                    </li>
                    <li>
                        <a ui-sref="feed.starred" class="star"
                        ng-class="ctrl.activeState == ctrl.FEED_STATES.STARRED ? 'active' : ''"
                        >
                            {{ 'HEADER.SUB_MENU.STARRED' | translate }}
                        </a>
                    </li>
                    <li
                        ng-init="hover=false"
                        ng-mouseenter="hover = true"
                        ng-mouseleave="hover = false"
                    >
                        <a class="filter" 
                            ng-class="{hover: hover, active: (ctrl.activeFilter != null )}">
                            Filters
                        </a>
                        <ul>
                            <li ng-repeat="filter in ctrl.filters">
                                <a 
                                    ui-sref="feed.filtered({filterId: filter.id})" 
                                    ng-click="ctrl.selectFilter( filter.id )"
                                    class=" "
                                    ng-class="ctrl.activeFilter == filter.id ? 'active' : ''"
                                >
                                    {{ filter.name }}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="actions">
                    <a href="create-filter.html" class="create">
                        <span>{{ 'HEADER.SUB_MENU.CREATE_FILTER' | translate }}</span>
                    </a>
                </div>
            </nav>
            <div class="wrap prt-30">
                <div class="content" ui-view>
                    
                </div>
                <aside>
                    <section role="friends-sidebar">
                        <h4>Friends</h4>
                        <div class="friends">
                            <div class="friend" style="background-image:url('img/avatar.jpg')"></div>
                            <div class="friend" style="background-image:url('img/avatar.jpg')"></div>
                            <div class="friend" style="background-image:url('img/avatar.jpg')"></div>
                            <div class="friend" style="background-image:url('img/avatar.jpg')"></div>
                            <div class="friend" style="background-image:url('img/avatar.jpg')"></div>
                            <div class="friend" style="background-image:url('img/avatar.jpg')"></div>
                            <div class="friend" style="background-image:url('img/avatar.jpg')"></div>
                            <div class="friend" style="background-image:url('img/avatar.jpg')"></div>
                        </div>
                    </section>
                    <section role="groups-sidebar">
                        <h4>Groups</h4>
                        <ul>
                            <li><a href="components.html">Frontend Meetup Group <span>4</span></a></li>
                            <li><a href="components.html">Frontend Meetup Group</a></li>
                            <li><a href="components.html">Frontend Meetup Group</a></li>
                            <li><a href="components.html">Frontend Meetup Group</a></li>
                        </ul>
                        <a href="create-group.html">Create group</a>
                    </section>
                    <section role="trending-tags">
                        <h4>Trending tags</h4>
                        <div class="labels">
                            <ul>
                                <li>
                                    <a href="#">
                                        article (12)
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        marketing (14)
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        customer development (33)
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        inbound (2)
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        discussion
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        discussion
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        discussion
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        discussion
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        discussion
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        discussion
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </section>
                </aside>
            </div>