            <nav>
                <ul>
                    <li>
                        <a ui-sref="feed.posts" class="feed" 
                            ng-click="ctrl.selectFeed()"
                        ng-class="ctrl.activeState == ctrl.FEED_STATES.POSTS ? 'active' : ''">
                            {{ 'HEADER.SUB_MENU.FEED' | translate }}
                    </a>
                    </li>
                    <li
                        ng-init="hover1=false"
                        ng-mouseenter="hover1 = true"
                        ng-mouseleave="hover1 = false"
                    >
                        <a 
                            class="star list"
                            ng-class="{hover: hover1, active: (ctrl.activeCollection != null || ctrl.activeState == ctrl.FEED_STATES.LIKED )}"
                        >
                           {{ 'HEADER.SUB_MENU.COLLECTIONS' | translate }}
                        </a>
                        <ul>
                            <li>
                                <a
                                    ui-sref="feed.liked" class="hearth"
                                    ng-click="ctrl.selectLiked()"
                                    ng-class="ctrl.activeState == ctrl.FEED_STATES.LIKED ? 'active' : ''"
                                    >
                                    {{ 'HEADER.SUB_MENU.LIKED' | translate }}
                                 </a>
                            </li>
                            <li ng-repeat="collection in ctrl.collections track by $index">
                                <a 
                                    ui-sref="feed.collection({collectionSlug: collection.slug})" 
                                    ng-click="ctrl.selectCollection( collection.slug )"
                                    class=" "
                                    ng-class="ctrl.activeCollection == collection.id ? 'active' : ''"
                                >
                                    {{ collection.name }}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li
                        ng-init="hover2=false"
                        ng-mouseenter="hover2 = true"
                        ng-mouseleave="hover2 = false"
                    >
                        <a class="filter list" 
                            ng-class="{hover: hover2, active: (ctrl.activeFilter != null )}">
                            {{ 'HEADER.SUB_MENU.FILTERS' | translate }}
                        </a>
                        <ul>
                            <li ng-repeat="filter in ctrl.filters track by $index">
                                <a 
                                    ui-sref="feed.filtered({filterSlug: filter.slug})" 
                                    ng-click="ctrl.selectFilter( filter.slug )"
                                    class=" "
                                    ng-class="ctrl.activeFilter == filter.id ? 'active' : ''"
                                >
                                    {{ filter.name }}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="actions">
                    <span
                        ng-init="hover20=false"
                        ng-mouseenter="hover20 = true"
                        ng-mouseleave="hover20 = false"
                    >
                        <a 
                            class="create"
                            ng-class="{hover: hover20}";
                        >    
                        </a>
                        <ul>
                            <li>
                                <a ng-click="ctrl.openCreateFilterDialog()" class="filter">
                                    {{ 'HEADER.SUB_MENU.CREATE_FILTER' | translate }}
                                </a>
                            </li>
                            <li>
                                <a ng-click="ctrl.openCreateCollectionDialog()" class="star">
                                    {{ 'HEADER.SUB_MENU.CREATE_COLLECTION' | translate }}
                                </a>
                            </li>
                        </ul> 
                    </span>  
                </div>
            </nav>
            <div class="wrap prt-30">
                <div class="content" ui-view>
                    
                </div>
                <aside>
                    <div ng-include="'partials/friends-box.tpl.html'"></div>
                    <div ng-include="'partials/groups-box.tpl.html'"></div>
                    <div ng-include="'partials/trending-tags-box.tpl.html'"></div>
                </aside>
            </div>