<header 
    ng-style="{
        'background-color': ctrl.profile.profileColor,
        'background-image': ( ctrl.profile.photos.cover ? 'url(' + ctrl.profile.photos.cover.src + ')' : 'none' )
    }"    
>
    <div ng-if="ctrl.isEditing">
        <div
            class="change-group-cover-pic cta"
            ng-if="ctrl.isUserAdmin"
            ng-click="ctrl.openCoverPicUploadDialog()"
        >   
            {{ 'GROUPS.CHANGE_COVER_PIC' | translate }}
        </div>
        <div
            class="delete-group-cover-pic cta"
            ng-if="ctrl.isUserAdmin"
            ng-click="ctrl.deleteCoverPic()"
        >   
            {{ 'GROUPS.DELETE_COVER_PIC' | translate }}
        </div>
    </div>
    <h1 class="group-name" ng-if="!ctrl.isEditing">{{ ctrl.profile.name }}</h1>
    <input type="text" ng-model="ctrl.lastProfileFields.name" class="group-name" ng-if="ctrl.isEditing">
</header>

<nav>
    <div class="before"
        ng-style="{'background-color': ctrl.profile.photos.cover.src ? ctrl.profile.profileColor : '#00bfff' }"
    ></div>
    <div class="after"
        ng-style="{'background-color': ctrl.profile.photos.cover.src ? ctrl.profile.profileColor : '#00bfff' }"
    ></div>
    <ul 
        ng-if="(ctrl.profile.userIsMember || ctrl.profile.isOpen) && !ctrl.profile.pending"
    >
        <li>
            <a ui-sref="groupBySlug.posts({groupSlug:ctrl.currentSlug})" class="feed" 
                ng-click="ctrl.selectFeed()"
            ng-class="ctrl.activeState == ctrl.GROUP_BY_SLUG_STATES.POSTS ? 'active' : ''">
                {{ 'HEADER.SUB_MENU.FEED' | translate }}
        </a>
        </li>
        <li><a 
            ui-sref="groupBySlug.members({groupBySlug:ctrl.currentSlug})" class="members"
            ng-class="ctrl.activeState == ctrl.GROUP_BY_SLUG_STATES.MEMBERS ? 'active' : ''">Members</a></li>
        <li
            ng-init="hover1=false"
            ng-mouseenter="hover1 = true"
            ng-mouseleave="hover1 = false"
        >
            <a 
                class="star list"
                ng-class="{hover: hover1, active: (ctrl.activeCollection != null || ctrl.activeState == ctrl.GROUP_BY_SLUG_STATES.LIKED )}"
            >
               {{ 'HEADER.SUB_MENU.COLLECTIONS' | translate }}
            </a>
            <ul>
                <li>
                    <a
                        ui-sref="groupBySlug.liked({groupSlug:ctrl.currentSlug})" class="hearth"
                        ng-click="ctrl.selectLiked()"
                        ng-class="ctrl.activeState == ctrl.GROUP_BY_SLUG_STATES.LIKED ? 'active' : ''"
                        >
                        {{ 'HEADER.SUB_MENU.LIKED' | translate }}
                     </a>
                </li>

                <li 
                    ng-repeat="collection in ctrl.collections track by $index"
                    ng-if="(ctrl.profile.userIsMember || collection.isPublic) && collection.groupId"
                >
                    <a 
                        ui-sref="groupBySlug.collection({groupSlug:ctrl.currentSlug, collectionSlug: collection.slug})" 
                        ng-click="ctrl.selectCollection( collection.slug )"
                        class=" "
                        ng-class="{'active': ctrl.activeCollection == collection.id, 'has-parent': collection.parent}"
                    >
                        {{ collection.name }}
                    </a>
                </li>
            </ul>
        </li>
        <li
            ng-init="hover2=false"
            ng-mouseenter="hover2 = true"
            ng-mouseleave="hover2 = false"
        >
            <a class="filter list" 
                ng-class="{hover: hover2, active: (ctrl.activeFilter != null )}">
                {{ 'HEADER.SUB_MENU.FILTERS' | translate }}
            </a>
            <ul>
                <li ng-repeat="filter in ctrl.filters track by $index">
                    <a 
                        ui-sref="groupBySlug.filtered({groupSlug:ctrl.currentSlug, filterSlug: filter.slug})" 
                        ng-click="ctrl.selectFilter( filter.slug )"
                        class=" "
                        ng-class="ctrl.activeFilter == filter.id ? 'active' : ''"
                    >
                        {{ filter.name }}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="actions">
        <a
            ng-class="ctrl.profile.userIsMember ? 'minus' : 'create'"
            ng-click="ctrl.joinGroup()"
            ng-if="ctrl.profile.userId != APP.currentUser.id"
        >
            <span ng-if="!ctrl.profile.userIsMember">
                {{ 'HEADER.SUB_MENU.JOIN_GROUP' | translate }}
            </span>
            <span ng-if="ctrl.profile.userIsMember && !ctrl.profile.pending">
                {{ 'HEADER.SUB_MENU.LEAVE_GROUP' | translate }}
            </span>
            <span ng-if="ctrl.profile.pending">
                {{ 'HEADER.SUB_MENU.PENDING_JOIN_REQUEST' | translate }}
            </span>
        </a>
        <a ng-click="ctrl.openInvitationDialog()" class="members">
            {{ 'HEADER.SUB_MENU.INVITE_FRIENDS' | translate }}
        </a>
        <span
            ng-init="hover20=false"
            ng-mouseenter="hover20 = true"
            ng-mouseleave="hover20 = false"
        >
            <a 
                class="create"
                ng-class="{hover: hover20}";
            >    
            </a>
            <ul>
                <li>
                    <a ng-click="ctrl.openCreateFilterDialog()" class="filter">
                        {{ 'HEADER.SUB_MENU.CREATE_FILTER' | translate }}
                    </a>
                </li>
                <li ng-if="ctrl.isUserAdmin">
                    <a ng-click="ctrl.openCreateCollectionDialog()" class="star">
                        {{ 'HEADER.SUB_MENU.CREATE_COLLECTION' | translate }}
                    </a>
                </li>
            </ul> 
        </span>  
    </div>
</nav>

<div class="wrap">
    <div class="content" ui-view>
   	</div>
   	<aside> 
        <div ng-include="'partials/about-box.tpl.html'"></div>
        <div ng-include="'partials/stats-box.tpl.html'"></div>
        <!-- <section role="recent-tags">
            <h4>Recent tags</h4>
            <div class="labels">
                <ul>
                    <li>
                        <a href="#">
                                        article (12)
                                    </a>
                    </li>
                    <li>
                        <a href="#">
                                        marketing (14)
                                    </a>
                    </li>
                    <li>
                        <a href="#">
                                        customer development (33)
                                    </a>
                    </li>
                    <li>
                        <a href="#">
                                        inbound (2)
                                    </a>
                    </li>
                    <li>
                        <a href="#">
                                        discussion
                                    </a>
                    </li>
                    <li>
                        <a href="#">
                                        discussion
                                    </a>
                    </li>
                    <li>
                        <a href="#">
                                        discussion
                                    </a>
                    </li>
                    <li>
                        <a href="#">
                                        discussion
                                    </a>
                    </li>
                    <li>
                        <a href="#">
                                        discussion
                                    </a>
                    </li>
                    <li>
                        <a href="#">
                                        discussion
                                    </a>
                    </li>
                </ul>
            </div>
        </section> -->
    </aside>
</div>