<nav>
    <div class="before"
    ></div>
    <div class="after"
    ></div>
    <div class="actions">
        <a ng-click="APP.openCreateGroupModal()" class="create">Create group</a>
    </div>
</nav>
<div class="wrap prt-30">
    <section role="groups">
        <h4>{{'GROUPS.TITLE' | translate}}</h4>
        <div class="groups" ng-if="ctrl.groups">
            <group-card
                ng-repeat="group in ctrl.groups track by $index"
                model="group"
                ui-sref="groupBySlug.posts({groupSlug: group.slug})"
            >
            </group-card>
        </div>
        <div class="groups" ng-if="ctrl.groups.length == 0">
            <p class="message">
                {{'GROUPS.NO_GROUPS' | translate}}<br>
            </p>
            <group-card
                ng-repeat="group in ctrl.recommendations track by $index"
                model="group"
                ui-sref="groupBySlug.posts({groupSlug: group.slug})"
            >
            </group-card>
        </div>
        <div ng-if="ctrl.groups.length == 0" class="message">
            {{'RIGHT_COLUMN.GROUPS.NO_GROUPS' | translate}}
        </div>
        <div ng-if="ctrl.groups.length > 0">
            <more-button callback="ctrl.getMoreGroups()"></more-button>
        </div>
    </section>
</div>