<section role="motto" data-stellar-background-ratio="0.5">
    <div class="wrap">
        <h1>Social discussion platform <br><span>for your interests</span></h1>
        <a ng-click="APP.openRegisterModal()">Join the community</a>
    </div>
</section>
<section role="features">
    <div class="feature social">
        <span class="groups"></span>
        <h2>Social</h2>
        <div class="description">
            Find groups and start the conversation based upon your interests.
        </div>
    </div>
    <div class="feature searchable">
        <span class="search"></span>
        <h2>Searchable</h2>
        <div class="description">
            Search for topics and content by using rich filters and hashtags.
        </div>
    </div>
    <div class="feature thematic">
        <span class="feed"></span>
        <h2>Thematic</h2>
        <div class="description">
            All the content are picked semantically, placed on channels of your preferences.
        </div>
    </div>
    <div class="feature personal">
        <span class="messages"></span>
        <h2>Personal</h2>
        <div class="description">
            Create private groups and send messages to your friends.
        </div>
    </div>
</section>
<section role="subscription" id="subscription">
    <h3>Subscribe</h3>
    <p>
        Type your email below and we will let you know when the beta period starts.
    </p>
    <form>
        <input type="email" placeholder="email@example.com" name="email" ng-model="ctrl.email">
        <button type="submit" ng-click="ctrl.submit()">Notify me</button>
    </form>
</section>