<header 
    ng-style="(ctrl.profile.photos.cover && ctrl.profile.photos.cover.src) ? {background:'url(' + ctrl.profile.photos.cover.src +')'} : {background:ctrl.profile.profileColor}"
    class="profile-header"

>
    <div ng-if="ctrl.isEditing">
        <div
            class="change-cover-pic cta"
            ng-if="APP.currentUser.username == ctrl.profile.username"
            ng-click="ctrl.openCoverPicUploadDialog()"
        >   
            {{ 'PROFILE.CHANGE_COVER_PIC' | translate }}
        </div>
        <div
            class="delete-cover-pic cta"
            ng-if="APP.currentUser.username == ctrl.profile.username"
            ng-click="ctrl.deleteCoverPic()"
        >   
            {{ 'PROFILE.DELETE_COVER_PIC' | translate }}
        </div>
    </div>

    <profile-pic
        size="large"
        user="ctrl.profile"
    >
    </profile-pic>
    <div ng-if="ctrl.isEditing">
        <div
            class="change-profile-pic cta"
            ng-if="APP.currentUser.username == ctrl.profile.username"
            ng-click="ctrl.openProfilePicUploadDialog()"
        >   
            {{ 'PROFILE.CHANGE_PROFILE_PIC' | translate }}
        </div>
        <div
            class="delete-profile-pic cta"
            ng-if="APP.currentUser.username == ctrl.profile.username"
            ng-click="ctrl.deleteProfilePic()"
        >   
            {{ 'PROFILE.DELETE_PROFILE_PIC' | translate }}
        </div>
    </div>

    <h2 ng-style="{color:ctrl.profile.profileColor}">
        <span ng-if="!ctrl.isEditing">
            {{ctrl.profile.fullname}}
        </span>
        <span ng-if="ctrl.isEditing">
            <input type="text" ng-model="ctrl.lastProfileFields.fullname">
        </span>
        <br>
        <span class="username">@{{ctrl.profile.username}}<span>
    </h2>

</header>


<nav>
    <div class="before"
        ng-style="{'background-color': ctrl.profile.photos.cover.src ? ctrl.profile.profileColor : '#00bfff' }"
    ></div>
    <div class="after"
        ng-style="{'background-color': ctrl.profile.photos.cover.src ? ctrl.profile.profileColor : '#00bfff' }"
    ></div>
    <ul>
        <li><a 
            class="feed"
            ui-sref="profile.posts({username:ctrl.profile.username})"
            ng-click="ctrl.selectFeed()"
            ng-class="ctrl.activeState == ctrl.PROFILE_STATES.POSTS ? 'active' : ''"
            >
                {{'HEADER.SUB_MENU.POSTS' | translate}}
            </a>
        </li>
        <li>
            <a 
                ui-sref="profile.connections({username: ctrl.profile.username})"
                class="members"
                ng-class="ctrl.activeState == ctrl.PROFILE_STATES.CONNECTIONS ? 'active' : ''"
            >
                <span ng-if="!ctrl.profile.isBusiness">
                    {{'HEADER.SUB_MENU.FRIENDS' | translate}}
                </span>
                <span ng-if="ctrl.profile.isBusiness">
                    {{'HEADER.SUB_MENU.FOLLOWING' | translate}}
                </span>
            </a>
        </li>
        <li>
            <a 
                ui-sref="profile.followers({username: ctrl.profile.username})"
                class="members"
                ng-class="ctrl.activeState == ctrl.PROFILE_STATES.FOLLOWERS? 'active' : ''"
            >
                {{'HEADER.SUB_MENU.FOLLOWERS' | translate}}
            </a>
        </li>
        <li
            ng-init="hover4=false"
            ng-mouseenter="hover4 = true"
            ng-mouseleave="hover4 = false"
        >
            <a 
                class="star list"
                ng-class="{hover: hover4, active: (ctrl.activeCollection != null || ctrl.activeState == ctrl.PROFILE_STATES.LIKED )}"
            >
               {{ 'HEADER.SUB_MENU.COLLECTIONS' | translate }}
            </a>
            <ul>
                <li>
                    <a
                        ui-sref="profile.liked" class="hearth"
                        ng-click="ctrl.selectLiked()"
                        ng-class="ctrl.activeState == ctrl.PROFILE_STATES.LIKED ? 'active' : ''"
                        >
                        {{ 'HEADER.SUB_MENU.LIKED' | translate }}
                     </a>
                </li>
                <li ng-repeat="collection in ctrl.collections track by $index">
                    <a 
                        ui-sref="profile.collection({collectionSlug: collection.slug})" 
                        ng-click="ctrl.selectCollection( collection.slug )"
                        class=" "
                        ng-class="ctrl.activeCollection == collection.id ? 'active' : ''"
                    >
                        {{ collection.name }}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="actions" ng-if="APP.currentUser.username != ctrl.profile.username">
        <a 
            ng-click="ctrl.addFriend( ctrl.profile.username )" 
            ng-class="ctrl.profile.isFriend ? 'minus' : 'create'">
            <span ng-if="!ctrl.profile.isFriend">Add friend</span>
            <span ng-if="ctrl.profile.isFriend">Unfriend</span>
        </a>
        <a 
            class="message" 
            ng-click="ctrl.openSendNewMessageModal()"
        >
            <span>{{ 'HEADER.SUB_MENU.SEND_NEW_MESSAGE' | translate }}</span>
        </a>
    </div>
</nav>


<div class="wrap prt-30">
    <div class="content" ui-view>

    </div>
    <aside> 
        <div ng-include="'partials/about-box.tpl.html'"></div>
        <div ng-include="'partials/stats-box.tpl.html'"></div>
        <!-- <section role="recent-tags">
            <h4>Recent tags</h4>
            <div class="labels">
                <ul>
                    <li>
                        <a href="#">
                                        article (12)
                                    </a>
                    </li>
                    <li>
                        <a href="#">
                                        marketing (14)
                                    </a>
                    </li>
                    <li>
                        <a href="#">
                                        customer development (33)
                                    </a>
                    </li>
                    <li>
                        <a href="#">
                                        inbound (2)
                                    </a>
                    </li>
                    <li>
                        <a href="#">
                                        discussion
                                    </a>
                    </li>
                    <li>
                        <a href="#">
                                        discussion
                                    </a>
                    </li>
                    <li>
                        <a href="#">
                                        discussion
                                    </a>
                    </li>
                    <li>
                        <a href="#">
                                        discussion
                                    </a>
                    </li>
                    <li>
                        <a href="#">
                                        discussion
                                    </a>
                    </li>
                    <li>
                        <a href="#">
                                        discussion
                                    </a>
                    </li>
                </ul>
            </div>
        </section> -->
    </aside>
</div>