<header 
    ng-style="ctrl.profile.photos.cover ? {background:url(ctrl.profile.photos.cover)} : {background:ctrl.profile.profileColor}"
    class="profile-header"

>
    <div ng-if="ctrl.isEditing">
        <div
            class="change-cover-pic cta"
            ng-if="APP.currentUser.username == ctrl.profile.username"
            ng-click="ctrl.openCoverPicUploadDialog()"
        >   
            {{ 'PROFILE.CHANGE_COVER_PIC' | translate }}
        </div>
        <div
            class="delete-cover-pic cta"
            ng-if="APP.currentUser.username == ctrl.profile.username"
            ng-click="ctrl.deleteCoverPic()"
        >   
            {{ 'PROFILE.DELETE_COVER_PIC' | translate }}
        </div>
    </div>

    <profile-pic
        size="large"
        user="ctrl.profile"
    >
    </profile-pic>
    <div ng-if="ctrl.isEditing">
        <div
            class="change-profile-pic cta"
            ng-if="APP.currentUser.username == ctrl.profile.username"
            ng-click="ctrl.openProfilePicUploadDialog()"
        >   
            {{ 'PROFILE.CHANGE_PROFILE_PIC' | translate }}
        </div>
        <div
            class="delete-profile-pic cta"
            ng-if="APP.currentUser.username == ctrl.profile.username"
            ng-click="ctrl.deleteProfilePic()"
        >   
            {{ 'PROFILE.DELETE_PROFILE_PIC' | translate }}
        </div>
    </div>

    <h2 ng-style="{color:ctrl.profile.profileColor}">
        <span ng-if="!ctrl.isEditing">
            {{ctrl.profile.fullname}}
        </span>
        <span ng-if="ctrl.isEditing">
            <input type="text" ng-model="ctrl.lastProfileFields.fullname">
        </span>
        <br>
        <span class="username">@{{ctrl.profile.username}}<span>
    </h2>

</header>


<nav>
    <ul>
        <li><a 
            class="feed active"
            ui-sref="profile.posts({username:ctrl.profile.username})"
            ng-click="ctrl.selectFeed()"
            >
                {{'HEADER.SUB_MENU.FEED' | translate}}
            </a>
        </li>
        <li>
            <a 
                ui-sref="profile.followers({username: ctrl.profile.username})"
                class="members">
                <span ng-if="!ctrl.profile.isBusiness">
                    {{'HEADER.SUB_MENU.FRIENDS' | translate}}
                </span>
                <span ng-if="ctrl.profile.isBusiness">
                    {{'HEADER.SUB_MENU.FOLLOWERS' | translate}}
                </span>
            </a>
        </li>
        <li
            ng-init="hover4=false"
            ng-mouseenter="hover4 = true"
            ng-mouseleave="hover4 = false"
        >
            <a 
                class="star list"
                ng-class="{hover: hover4, active: (ctrl.activeCollection != null || ctrl.activeState == ctrl.PROFILE_STATES.LIKED )}"
            >
               {{ 'HEADER.SUB_MENU.COLLECTIONS' | translate }}
            </a>
            <ul>
                <li>
                    <a
                        ui-sref="profile.liked" class="hearth"
                        ng-click="ctrl.selectLiked()"
                        ng-class="ctrl.activeState == ctrl.PROFILE_STATES.LIKED ? 'active' : ''"
                        >
                        {{ 'HEADER.SUB_MENU.LIKED' | translate }}
                     </a>
                </li>
                <li ng-repeat="collection in ctrl.collections">
                    <a 
                        ui-sref="profile.collection({collectionId: collection.id})" 
                        ng-click="ctrl.selectCollection( collection.id )"
                        class=" "
                        ng-class="ctrl.activeCollection == collection.id ? 'active' : ''"
                    >
                        {{ collection.name }}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="actions" ng-if="APP.currentUser.username != ctrl.profile.username">
        <a href="#" class="create">
            <span>Add friend</span>
        </a>
        <a href="send-message.html" class="message">
            <span>Send a message</span>
        </a>
    </div>
</nav>


<div class="wrap prt-30">
    <div class="content" ui-view>

    </div>
    <aside>
        <section style="display: none">
            <profile-pic
                user="ctrl.profile"
                size="xxsmall"
            ></profile-pic>
            <profile-pic
                user="ctrl.profile"
                size="xsmall"
            ></profile-pic>
            <profile-pic
                user="ctrl.profile"
            ></profile-pic>
            <profile-pic
                size="xmedium"
                user="ctrl.profile"
            ></profile-pic>
            <profile-pic
                size="medium"
                user="ctrl.profile"
            ></profile-pic>
            <profile-pic
                size="large"
                user="ctrl.profile"
            ></profile-pic>
            <profile-pic
                delegate="ctrl"
                user="ctrl.profile"
            ></profile-pic>




        </section>  
        <div ng-include="'partials/about-box.tpl.html'"></div>
        <section role="stats">
            <h4>Stats</h4>
            <a class="members">268 friend</a>
            <a class="article">123 article posted</a>
            <a class="camera">14 photos shared</a>
            <a class="videos">14 video linked</a>
            <a class="events">8 event linked</a>
        </section>
        <section role="recent-tags">
            <h4>Recent tags</h4>
            <div class="labels">
                <ul>
                    <li>
                        <a href="#">
                                        article (12)
                                    </a>
                    </li>
                    <li>
                        <a href="#">
                                        marketing (14)
                                    </a>
                    </li>
                    <li>
                        <a href="#">
                                        customer development (33)
                                    </a>
                    </li>
                    <li>
                        <a href="#">
                                        inbound (2)
                                    </a>
                    </li>
                    <li>
                        <a href="#">
                                        discussion
                                    </a>
                    </li>
                    <li>
                        <a href="#">
                                        discussion
                                    </a>
                    </li>
                    <li>
                        <a href="#">
                                        discussion
                                    </a>
                    </li>
                    <li>
                        <a href="#">
                                        discussion
                                    </a>
                    </li>
                    <li>
                        <a href="#">
                                        discussion
                                    </a>
                    </li>
                    <li>
                        <a href="#">
                                        discussion
                                    </a>
                    </li>
                </ul>
            </div>
        </section>
    </aside>
</div>