<section role="feed">
	<h4>{{ ctrl.currentFilter.name }} - {{ 'FEED.FILTERED_TITLE' | translate }}</h4>
	<div class="create-post">
    	<ul class="labels pl0">
	    	<posting-box-tag
	            ng-repeat="tag in ctrl.currentFilter.tags track by $index"
	            delegate="ctrl"
	            tag="tag">
	        </posting-box-tag>
	        <posting-box-tag
	            delegate="ctrl"
	        >
	        </posting-box-tag>
        </ul>
    </div>
	<a class="save-to-collection" ng-click="ctrl.saveCurrentFilter()" title="{{'FEED.SAVE_FILTER' | translate}}">
		{{ 'FEED.SAVE_FILTER' | translate }}
	</a>
    <post-entry ng-repeat="post in cltr.starred" post="post" delegate="ctrl"></post-entry>
</section>