<posting-box 
	delegate="ctrl"
></posting-box>
<hr>
<section role="feed" ng-if="ctrl.posts && ctrl.posts.length > 0">
    <h4>{{ 'FEED.POSTS.TITLE' | translate }}</h4>
    <post-entry 
    	ng-repeat="post in ctrl.posts track by $index" 
    	entry="post" 
    	delegate="ctrl"
    >
	</post-entry>
    <more-button callback="ctrl.getMorePosts()"></more-button>
</section>
<section 
	role="recommendation"
	ng-if="!ctrl.posts || ctrl.posts.length == 0" 
	ng-include="'partials/recommendations.tpl.html'"
    ng-controller="RecommendationBoxController as ctrl"
></section>
