<div 
	class="placeholder"
	ng-class=" vm.isOpened ? 'active' : '' "
	>
	<div
		ng-click="vm.isOpened = !vm.isOpened"
		ng-transclude="selected"
		ng-if="vm.model"
		ng-init="$select = vm"
	>
		<span>
			{{ vm.model && vm.model[ vm.value ] ? vm.model[ vm.value ] : ( vm.placeholder ) ? vm.placeholder : 'Select item...' }}
		</span>
	</div>
	<div 
		ng-if="!vm.model"
		ng-click="vm.isOpened = !vm.isOpened"
	>
		<span>
			{{ ( vm.placeholder ) ? vm.placeholder : 'Select item...' }}
		</span>
	</div>
	<input 
		type="text" 
		class="predicate" 
		ng-model="vm.predicate"
		enter-press="vm.onEnter()"
		placeholder="{{ ( vm.placeholder ) ? vm.placeholder : 'Type here' }}"
	>
	<button
		ng-click="vm.isOpened = !vm.isOpened"
	></button>
</div>
<ul
	ng-style="{ display: (vm.isOpened ? 'block' : 'none'), 'max-height': vm.maxHeight + 'px' }"
>
	<li 
		ng-repeat="item in vm.filteredCollection track by $index"
		ng-click="vm.selectItem( item[ vm.key ] )"
		ng-transclude="item"
	>
		
	</li>
</ul>