<div 
	class="placeholder"
	ng-class=" vm.isOpened ? 'active' : '' ">
	<span
		ng-click="vm.isOpened = !vm.isOpened"
	>
		{{ vm.model ? vm.model[ vm.value ] : ( vm.placeholder ) ? vm.placeholder : 'Select item...' }}
	</span>
	<input 
		type="text" 
		class="predicate" 
		ng-model="vm.predicate"
		placeholder="{{ ( vm.placeholder ) ? vm.placeholder : 'Type here' }}"
	>
	<button
		ng-click="vm.isOpened = !vm.isOpened"
	></button>
</div>
<ul
	ng-style="{ display: (vm.isOpened ? 'block' : 'none'), height: vm.maxHeight + 'px' }"
>
	<li 
		ng-repeat="item in vm.filteredCollection track by $index"
		ng-click="vm.selectItem( item[ vm.key ] )"
		ng-transclude
		ng-transclude-locals="{item: item}"
	>
		
	</li>
</ul>