<span ng-if="vm.model.type == vm.TYPES.STARTED_FOLLOWING">
	<profile-pic
		user="vm.model.payload.user"
		size="xsmall"
		ui-sref="profile.posts({username:vm.model.payload.user.username})"
	>
	</profile-pic>
	<span 
		ng-bind-html=" 'NOTIFICATIONS.STARTED_FOLLOWING' | 
						translate : { user: vm.model.payload.user }  | 
						htmlSafe 
					 "
	></span>
</span>
<span ng-if="vm.model.type == vm.TYPES.STARTED_FOLLOWING_MULTI">
	<profile-pic
		user="vm.model.payload.users[0]"
		size="xsmall"
	>
	</profile-pic>
	<span 
		ng-bind-html=" 'NOTIFICATIONS.STARTED_FOLLOWING_MULTI' | 
						translate : { users: vm.model.payload.users, people: vm.model.payload.people }  | 
						htmlSafe 
					 "
	></span>
</span>
<span ng-if="vm.model.type == vm.TYPES.FRIEND_REQUEST">
	<profile-pic
		user="vm.model.payload.user"
		size="xsmall"
		ui-sref="profile.posts({username:vm.model.payload.user.username})"
	>
	</profile-pic>
	<span 
		ng-bind-html=" 'NOTIFICATIONS.FRIEND_REQUEST' | 
						translate : { user: vm.model.payload.user }  | 
						htmlSafe 
					 "
	></span>
	<button
		ng-click="vm.commit()"
		ng-disabled="!vm.buttonEnabled"
	>
		<span ng-if="!vm.model.payload.accepted"> {{ 'NOTIFICATIONS.BUTTON.ACCEPT' | translate }}</span>
		<span ng-if="vm.model.payload.accepted"> {{ 'NOTIFICATIONS.BUTTON.ACCEPTED' | translate }}</span>
	</button>
</span>
<span ng-if="vm.model.type == vm.TYPES.POST_COMMENT">
	<profile-pic
		user="vm.model.payload.user"
		size="xsmall"
	>
	</profile-pic>
	<span 
		ng-bind-html=" 'NOTIFICATIONS.POST_COMMENT' | 
						translate : { user: vm.model.payload.user, post: vm.model.payload.post }  | 
						htmlSafe 
					 "
	></span>
</span>
<span ng-if="vm.model.type == vm.TYPES.POST_COMMENT_MULTI">
	<profile-pic
		user="vm.model.payload.users[0]"
		size="xsmall"
	>
	</profile-pic>
	<span 
		ng-bind-html=" 'NOTIFICATIONS.POST_COMMENT_MULTI' | 
						translate : { users: vm.model.payload.users, post: vm.model.payload.post, people: vm.model.payload.people }  | 
						htmlSafe 
					 "
	></span>
</span>
<span ng-if="vm.model.type == vm.TYPES.POST_LIKE">
	<profile-pic
		user="vm.model.payload.user"
		size="xsmall"
	>
	</profile-pic>
	<span 
		ng-bind-html=" 'NOTIFICATIONS.POST_LIKE' | 
						translate : { user: vm.model.payload.user, post: vm.model.payload.post }  | 
						htmlSafe 
					 "
	></span>
</span>
<span ng-if="vm.model.type == vm.TYPES.POST_LIKE_MULTI">
	<profile-pic
		user="vm.model.payload.users[0]"
		size="xsmall"
	>
	</profile-pic>
	<span 
		ng-bind-html=" 'NOTIFICATIONS.POST_LIKE_MULTI' | 
						translate : { users: vm.model.payload.users, post: vm.model.payload.post, people: vm.model.payload.people }  | 
						htmlSafe 
					 "
	></span>
</span>
<span ng-if="vm.model.type == vm.TYPES.GROUP_JOIN_REQUEST_ACCEPTED">
	<profile-pic
		user="vm.model.payload.user"
		size="xsmall"
		ui-sref="profile.posts({username:vm.model.payload.user.username})"
	>
	</profile-pic>
	<span 
		ng-bind-html=" 'NOTIFICATIONS.GROUP_JOIN_REQUEST_ACCEPTED' | 
						translate : { user: vm.model.payload.user, group: vm.model.payload.group }  | 
						htmlSafe 
					 "
	></span>
</span>
<span ng-if="vm.model.type == vm.TYPES.GROUP_JOIN_REQUEST">
	<profile-pic
		user="vm.model.payload.user"
		size="xsmall"
		ui-sref="profile.posts({username:vm.model.payload.user.username})"
	>
	</profile-pic>
	<span 
		ng-bind-html=" 'NOTIFICATIONS.GROUP_JOIN_REQUEST' | 
						translate : { user: vm.model.payload.user, group: vm.model.payload.group }  | 
						htmlSafe 
					 "
	></span>
	<button
		ng-click="vm.commit()"
		ng-disabled="!vm.buttonEnabled"
	>
		<span ng-if="!vm.model.payload.accepted"> {{ 'NOTIFICATIONS.BUTTON.ACCEPT' | translate }}</span>
		<span ng-if="vm.model.payload.accepted"> {{ 'NOTIFICATIONS.BUTTON.ACCEPTED' | translate }}</span>
	</button>
</span>
<span ng-if="vm.model.type == vm.TYPES.GROUP_POST_REQUEST">
	<profile-pic
		user="vm.model.payload.user"
		size="xsmall"
		ui-sref="profile.posts({username:vm.model.payload.user.username})"
	>
	</profile-pic>
	<span 
		ng-bind-html=" 'NOTIFICATIONS.GROUP_POST_REQUEST' | 
						translate : { user: vm.model.payload.user, group: vm.model.payload.group, post: vm.model.payload.post }  | 
						htmlSafe 
					 "
	></span>
	<button
		ng-click="vm.commit()"
		ng-disabled="!vm.buttonEnabled"
	>
		<span ng-if="!vm.model.payload.accepted"> {{ 'NOTIFICATIONS.BUTTON.ACCEPT' | translate }}</span>
		<span ng-if="vm.model.payload.accepted"> {{ 'NOTIFICATIONS.BUTTON.ACCEPTED' | translate }}</span>
	</button>
</span>
<span ng-if="vm.model.type == vm.TYPES.GROUP_POST_REQUEST_ACCEPTED">
	<profile-pic
		user="vm.model.payload.user"
		size="xsmall"
		ui-sref="profile.posts({username:vm.model.payload.user.username})"
	>
	</profile-pic>
	<span 
		ng-bind-html=" 'NOTIFICATIONS.GROUP_POST_REQUEST_ACCEPTED' | 
						translate : { user: vm.model.payload.user, group: vm.model.payload.group, post: vm.model.payload.post }  | 
						htmlSafe 
					 "
	></span>
</span>
<span ng-if="vm.model.type == vm.TYPES.GROUP_INVITATION">
	<profile-pic
		user="vm.model.payload.user"
		size="xsmall"
		ui-sref="profile.posts({username:vm.model.payload.user.username})"
	>
	</profile-pic>
	<span 
		ng-bind-html=" 'NOTIFICATIONS.GROUP_INVITATION' | 
						translate : { user: vm.model.payload.user, group: vm.model.payload.group }  | 
						htmlSafe 
					 "
	></span>
</span>
<span ng-if="vm.model.type == vm.TYPES.GROUP_INVITATION_ACCEPTED">
	<profile-pic
		user="vm.model.payload.user"
		size="xsmall"
		ui-sref="profile.posts({username:vm.model.payload.user.username})"
	>
	</profile-pic>
	<span 
		ng-bind-html=" 'NOTIFICATIONS.GROUP_INVITATION_ACCEPTED' | 
						translate : { user: vm.model.payload.user, group: vm.model.payload.group }  | 
						htmlSafe 
					 "
	></span>
</span>
<span ng-if="vm.model.type == vm.TYPES.GROUP_USER_PROMOTED">
	<profile-pic
		user="vm.model.payload.user"
		size="xsmall"
		ui-sref="profile.posts({username:vm.model.payload.user.username})"
	>
	</profile-pic>
	<span 
		ng-bind-html=" 'NOTIFICATIONS.GROUP_USER_PROMOTED' | 
						translate : { user: vm.model.payload.user, group: vm.model.payload.group }  | 
						htmlSafe 
					 "
	></span>
</span>
<span ng-if="vm.model.type == vm.TYPES.GROUP_USER_DEGRADED">
	<profile-pic
		user="vm.model.payload.user"
		size="xsmall"
		ui-sref="profile.posts({username:vm.model.payload.user.username})"
	>
	</profile-pic>
	<span 
		ng-bind-html=" 'NOTIFICATIONS.GROUP_USER_DEGRADED' | 
						translate : { user: vm.model.payload.user, group: vm.model.payload.group }  | 
						htmlSafe 
					 "
	></span>
</span>
<span ng-if="vm.model.type == vm.TYPES.GROUP_USER_KICKED">
	<profile-pic
		user="vm.model.payload.user"
		size="xsmall"
		ui-sref="profile.posts({username:vm.model.payload.user.username})"
	>
	</profile-pic>
	<span 
		ng-bind-html=" 'NOTIFICATIONS.GROUP_USER_KICKED' | 
						translate : { user: vm.model.payload.user, group: vm.model.payload.group }  | 
						htmlSafe 
					 "
	></span>
</span>
<span ng-if="vm.model.type == vm.TYPES.NEW_MESSAGE">
	<profile-pic
		user="vm.model.payload.user"
		size="xsmall"
		ui-sref="profile.posts({username:vm.model.payload.user.username})"
	>
	</profile-pic>
	<span 
		ng-bind-html=" 'NOTIFICATIONS.NEW_MESSAGE' | 
						translate : { user: vm.model.payload.user }  | 
						htmlSafe 
					 "
	></span>
</span>
<span ng-if="vm.model.type == vm.TYPES.PLATFORM_INVITATION_ACCEPTED">
	<profile-pic
		user="vm.model.payload.user"
		size="xsmall"
		ui-sref="profile.posts({username:vm.model.payload.user.username})"
	>
	</profile-pic>
	<span 
		ng-bind-html=" 'NOTIFICATIONS.PLATFORM_INVITATION_ACCEPTED' | 
						translate : { user: vm.model.payload.user }  | 
						htmlSafe 
					 "
	></span>
</span>
