<div class="post left" ng-if="vm.entry">
    <div class="head">
        <button 
            ng-click="vm.deletePost()" 
            class="delete"
            ng-if="vm.entry.author.id == vm.currentUser.id"
        ></button>
        <profile-pic
                size="xmedium"
                user="vm.entry.author"
                ui-sref="profile.posts({username:vm.entry.author.username})"
        ></profile-pic>
        <div class="meta-head">
            <span class="author" ui-sref="profile.posts({username:vm.entry.author.username})">
                {{vm.entry.author.fullname}}
            </span>
            <span 
                ng-if="vm.entry.inGroup && !vm.hiddenFrom"
                class="from"
                data-ng-bind-html=" 'FEED.POST_ENTRY.IN_GROUP' | translate : { groupName: vm.entry.group.name, groupUrl: '/groups/' + vm.entry.group.slug } | htmlSafe "
            >
                
            </span>
            <span class="date"
                title="{{vm.entry.createdAt}}"
                >{{ vm.entry.createdAt | timeAgo }}
            </span>
            <div class="actions">
                <a 
                    class="hearth"
                    ng-class=" vm.entry.liked ? 'liked' : '' "
                    ng-click="vm.like()"
                    tooltips
                    tooltip-class="tooltip-patch"
                    tooltip-template="{{ !vm.entry.liked ? ('FEED.POST_ENTRY.LIKEING' | translate) : ('FEED.POST_ENTRY.DISLIKEING' | translate) }}"
                >
                    {{ vm.entry.likes | pretifyNumber }}
                </a>
                <a class="star" 
                    ng-class=" vm.entry.starred ? 'starred' : '' "
                    ng-init="vm = vm"
                    tooltips
                    tooltip-template-url="partials/save-to-collection.tpl.html"
                    tooltip-class="tooltip-patch stretch2"
                    tooltip-show-trigger="click"
                    tooltip-hide-trigger="mouseleave"
                    tooltip-hidden="vm.entry.starred"
                >


                </a>
                <a 
                    class="share"
                    ng-init="vm = vm"
                    tooltips
                    tooltip-class="tooltip-patch stretch2"
                    tooltip-template-url="partials/shareable-url.tpl.html"
                >
                    
                </a>
            </div>
        </div>
        <div class="labels">
            <ul>
                <li ng-repeat="tag in vm.entry.tags track by $index">
                    <a ng-click="vm.createTemporaryFilterWithTag( tag )">
                        {{tag}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <aside>
        <div class="content">
            <div class="message" 
                data-ng-bind-html=" vm.entry.content | formatContent | htmlSafe ">
            </div>
            <a class="embed" href="{{vm.entry.attachment.url}}" ng-if="vm.entry.attachment">
                <div class="cover">
                    <img ng-src="{{vm.entry.attachment.preview}}" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" width="160" height="160">
                </div>
                <h3>{{vm.entry.attachment.title}}</h3>
                <p>{{vm.entry.attachment.description}}</p>
                <div 
                    class="resource"
                    data-ng-bind-html=" 'FEED.POST_ENTRY.ATTACHMENT_SOURCE' | translate : { source: vm.entry.attachment.source } | htmlSafe "
                >
                </div>
            </a>
        </div>
        <div class="comment-area">
            <div class="pagination" ng-if="vm.entry.comments.count > 3 && vm.entry.comments.count - vm.entry.comments.data.length > 0">
                <a ng-click="vm.getMoreComments()">{{ 'FEED.POST_ENTRY.PREVIOUS_COMMENTS' | translate : { difference: vm.entry.comments.count - vm.entry.comments.data.length } }}</a>
            </div>
            <div class="comments">
                <div class="comment" ng-repeat="comment in vm.entry.comments.data | orderBy : 'id'">
                    <button 
                        ng-click="vm.deleteComment(comment.id)" 
                        class="delete"
                        ng-if="comment.author.id == vm.currentUser.id"
                    ></button>
                    <profile-pic
                        title="{{comment.author.fullname}} @{{comment.author.username}}"
                        size="xxsmall"
                        user="comment.author"
                        ui-sref="profile.posts({username:comment.author.username})"
                    ></profile-pic>
                    <div class="message">
                        <a 
                            class="author" 
                            ui-sref="profile.posts({username:comment.author.username})"
                        >
                            {{comment.author.fullname}}
                        </a>
                        <div class="content" data-ng-bind-html=":: comment.content | formatContent | htmlSafe "></div>
                        <span class="date">
                            {{ comment.createdAt | timeAgo }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="add-comment" ng-if="vm.currentUser">
                <div 
                    class="characters-left"
                    ng-class=" vm.charactersLeft < 10 ? 'red' : '' "
                    ng-if=" vm.charactersLeft < 100"
                >
                    {{vm.charactersLeft}}
                </div>
                <profile-pic
                        size="xxsmall"
                        user="vm.currentUser"
                ></profile-pic>
                <textarea
                    class="msd-elastic"
                    ng-model="vm.comment"
                    placeholder="{{'FEED.POST_ENTRY.COMMENT_PLACEHOLDER' | translate}}"
                ></textarea>
                <button
                    ng-click="vm.sendComment()" 
                    class="post-comment"
                    ng-disabled="!vm.buttonEnabled"
                >
                    {{'FEED.POST_ENTRY.COMMENT_CTA' | translate}}
                </button>        
            </div>
        </div>
        <aside>
</div>