                    <section role="posting-box">
                        <h4>{{ 'FEED.POST_BOX.TITLE' | translate }}</h4>
                        <div class="create-post">
                            <textarea 
                                placeholder="{{ 'FEED.POST_BOX.PLACEHOLDER' | translate }}"
                                ng-model="vm.content"
                                ng-blur="vm.textareaFocusout()"
                                class="msd-elastic"
                            >
                            </textarea>
                            <div class="labels">
                                <ul>
                                    <posting-box-tag
                                        ng-repeat="tag in vm.newPost.tags track by $index"
                                        delegate="vm"
                                        tag="tag">
                                    </posting-box-tag>
                                    <posting-box-tag
                                        delegate="vm"
                                    >
                                    </posting-box-tag>
                                </ul>
                            </div>
                            <button class="post-content"
                                ng-disabled="vm.buttonEnabled"
                            >{{ 'FEED.POST_BOX.SEND' | translate }}</button>
                            <div class="suggested-tags">
                                <div class="labels">
                                    <ul>
                                        <li 
                                            ng-repeat="tag in vm.newPost.suggestedTags track by $index"
                                            ng-click="vm.addSuggestedTag(tag)"
                                        >
                                            <span>
                                                {{tag}}
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div ng-if="vm.linkPreview">
                                <h4>{{'FEED.LINK_PREVIEW_TITLE' | translate}}</h4>
                                <div class="embed">
                                    <div class="cover">
                                        <img ng-src="{{vm.linkPreview.meta.preview}}" width="160" height="160" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
                                    </div>
                                    <h3>{{vm.linkPreview.meta.title}}</h3>
                                    <p>{{vm.linkPreview.meta.description}}</p>
                                    <div class="resource" ng-bind-html=" 'FEED.LINK_PREVIEW' | translate : { medium: vm.linkPreview.meta.source, url: vm.linkPreview.meta.url } | htmlSafe ">
                                        
                                    </div>
                                    <div class="delete" ng-click="vm.removePreview()"></div>
                                </div>
                            </div>
                        </div>
                    </section>