<section role="friends-sidebar">
    <h4>{{'RIGHT_COLUMN.FRIENDS.TITLE' | translate}}</h4>
    <div class="friends">
        <div ng-if="ctrl.friends.length === 0" class="empty">
            {{'RIGHT_COLUMN.FRIENDS.NO_FRIENDS' | translate}}
        </div>
        <div
            ng-repeat="friend in ctrl.friends track by $index"
            ui-sref="profile.posts({username:friend.username})"
            class="friend"
        >
            <profile-pic
                size="small"
                user="friend"
                tooltips
                tooltip-template="<strong>{{friend.fullname}}</strong><br><small>@{{friend.username}}</small>"
            >
            </profile-pic>
        </div>
    </div>
</section>