<section role="friends-sidebar">
    <h4>Friends</h4>
    <div class="friends">
        <div ng-if="ctrl.friends.length === 0" class="empty">
            You have no friends yet. Why not searching?
        </div>
        <div
            ng-repeat="friend in ctrl.friends track by $index"
            ui-sref="profile.posts({username:friend.username})"
        >
            <a
                ng-if="friend.photos.small"
                class="friend" 
                style="background-image:url('{{friend.photos.small}}')"
                            tooltips
            tooltip-template="@{{friend.username}}"
            >
            </a>
            <a
                ng-if="!friend.photos.small"
                class="friend no-photo" 
                ng-init="startChar = friend.username.substr(0,1).toUpperCase()"
                ng-style="{background:friend.photos.profileColor}"
                            tooltips
            tooltip-template="@{{friend.username}}"
            >
                {{ startChar }}
            </a>
        </div>
    </div>
</section>