<section role="groups-sidebar">
    <h4>{{'RIGHT_COLUMN.GROUPS.TITLE' | translate}}</h4>
    <ul ng-if="ctrl.groups">
        <li
        	ng-repeat="group in ctrl.groups track by $index"
        >
        	<a ui-sref="groups.groupByName({slug:group.slug})">{{group.name}} <span>{{group.newPosts}}</span></a>
        </li>
    </ul>
    <div ng-if="ctrl.groups.length === 0" class="empty">
        {{'RIGHT_COLUMN.GROUPS.NO_GROUPS' | translate}}
    </div>
    <a ng-click="ctrl.openCreateGroupModal()">{{'RIGHT_COLUMN.GROUPS.CREATE_GROUP' | translate}}</a>
</section>