<nav ng-controller="MenuController as ctrl">
    <div class="fleft">
        <div class="search" ng-controller="SearchController as ctrl">
            <div style="position: relative">
            <input type="text" name="search" placeholder="{{ctrl.currentSearchTerm}}" ng-model="ctrl.currentSearchTerm">
            <button class="icon"></button>
            </div>
        </div>
    </div>
    <ul>
        <li class="feed" alt="Feed">
            <a ui-sref="feed.posts"></a>
        </li>
        <li class="groups" alt="Groups">
            <a ui-sref="groups"></a>
        </li>
        <li class="notifications list" alt="Notifications"
            ng-init="hover21=false"
            ng-mouseenter="hover21 = true"
            ng-mouseleave="hover21 = false"
        >
            <a ng-class="{hover: hover21}">
                <span ng-if="ctrl.unreadNotificationCount">{{ctrl.unreadNotificationCount}}</span>
            </a>
            <ul class="stretch">
                <li ng-repeat="notif in ctrl.lastNotifications track by $index">
                    <notification-view
                        model="notif"
                        delegate="ctrl"
                    >
                    </notification-view>
                </li>
                <li>
                    <a ui-sref="notifications">{{'HEADER.SUB_MENU.MORE_NOTIFS' | translate}}</a>
                </li>
            </ul>
        </li>
        <li class="messages" alt="Messages">
            <a ui-sref="messages.list">
                <span ng-if="ctrl.unreadMessageCount">{{ctrl.unreadMessageCount}}</span>
            </a>
        </li>
        <li class="profile list" alt="Profile"
            ng-init="hover=false"
            ng-mouseenter="hover = true"
            ng-mouseleave="hover = false"
        >
            <a ui-sref="profile.posts({username:APP.currentUser.username})" 
                ng-class="{hover: hover}">
                <profile-pic
                    user="APP.currentUser"
                    size="xsmall"
                ></profile-pic>
            </a>
            <ul>
                <li>
                    <a ui-sref="settings">{{ 'HEADER.PROFILE.SETTINGS' | translate }}</a>
                </li>
                <li>
                    <a ng-click="APP.logout()">{{ 'HEADER.PROFILE.LOGOUT' | translate }}</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>