<div ng-if="!vm.entry.starred">
	<div ng-if="!vm.delegate.collections || vm.delegate.collections.length == 0">
		{{ 'FEED.POST_ENTRY.NO_COLLECTIONS' | translate }}
		<button ng-click="vm.delegate.openCreateCollectionDialog()">
			{{ 'HEADER.SUB_MENU.CREATE_COLLECTION' | translate }}
		</button>
	</div>
	<div ng-if="vm.delegate.collections && vm.delegate.collections.length > 0">
		{{ 'FEED.POST_ENTRY.SAVE_TO_COLLECTION' | translate }}:
		<select 
			ng-model="vm.targetCollection"
			ng-options="value.id as value.name for (key, value) in vm.delegate.collections">
		</select>
		<button ng-click="vm.saveToCollection();">{{ 'FEED.POST_ENTRY.OK' | translate }}</button>
	</div>
</div>
<div ng-if="vm.entry.starred">
	{{ 'FEED.POST_ENTRY.ALREADY_SAVED' | translate }}
</div>