<section role="stats">
    <h4>{{ 'RIGHT_COLUMN.STATS.TITLE' | translate }}</h4>
    <span class="members" ng-if="ctrl.stats.friends">{{ ctrl.stats.friends }} {{ 'RIGHT_COLUMN.STATS.FRIENDS' | translate }}</span>
    <span class="members" ng-if="ctrl.stats.members">{{ ctrl.stats.members }} {{ 'RIGHT_COLUMN.STATS.MEMBERS' | translate }}</span>
    <span class="article">{{ ctrl.stats.article }} {{ 'RIGHT_COLUMN.STATS.ARTICLES' | translate }}</span>
    <span class="camera">{{ ctrl.stats.photo }} {{ 'RIGHT_COLUMN.STATS.PHOTOS' | translate }}</span>
    <span class="videos">{{ ctrl.stats.video }} {{ 'RIGHT_COLUMN.STATS.VIDEOS' | translate }}</span>
    <span class="events">{{ ctrl.stats.event }} {{ 'RIGHT_COLUMN.STATS.EVENTS' | translate }}</span>
</section>