<section role="messages">
    <h4>{{ 'MESSAGES.MESSAGES_WITH' | translate }} {{ctrl.currentRecipient.fullname}}</h4>
    <div class="messages">
        <more-button 
            callback="ctrl.getMoreMessages()"
            className="previous-messages"
        >
            {{ 'MESSAGES.PREVIOUS_MESSAGES' | translate }}
        </more-button>
        <div 
            class="message in-thread" 
            ng-class=" message.author.id == ctrl.currentUser.id ? 'right' : 'left' "
            ng-repeat=" message in ctrl.messages track by $index "
        >
            <div class="head">
                <div class="author-pic" title="{{message.author.fullname}} @{{message.author.username}}">
                    <profile-pic
                        user="message.author"
                        size="small"
                    >
                    </profile-pic>
                </div>
                <span class="date">
                    {{message.updatedAt | timeAgo}}
                </span>
            </div>
            <div class="content"
                data-ng-bind-html=" message.message | formatContent | htmlSafe"
            ></div>
        </div>
    </div>
    <div class="compose">
        <textarea ng-model="ctrl.message" class="msd-elastic"></textarea>
        <button
            ng-click="ctrl.sendMessage()"
        >
            {{'MESSAGES.SEND_MESSAGE' | translate}}
        </button>
    </div>
</section>