<section role="members">
    <h4>{{'GROUPS.MEMBERS.TITLE' | translate}}</h4>
    <div class="members">
        <div class="member" ng-repeat="friend in ctrl.members track by $index" 
        ng-class="friend.id === APP.currentUser.id ? 'you' : ''"
        ng-class="ctrl.isAdmin(friend.id) ? 'admin' : ''">
            <div class="pic" ui-sref="profile.posts({username:friend.username})">
                <profile-pic size="medium" user="friend"></profile-pic>
            </div>
            <div class="name">
                <strong>{{ friend.fullname }}</strong>
                <br> @{{ friend.username }}
            </div>
            <div ng-if="ctrl.isUserAdmin" class="actions">
                <div ng-if="ctrl.profile.userId != friend.id && friend.approved" ng-click="ctrl.toggleAdminForUserId( friend.id )">
                    <div ng-if="!ctrl.isAdmin(friend.id)">
                        <button class="create" ng-click="ctrl.assignAdminToGroup( friend )">Promote</button>
                    </div>
                    <div ng-if="ctrl.isAdmin(friend.id) && friend.id != ctrl.profile.userId">
                        <button class="minus" ng-click="ctrl.removeAdminFromGroup( friend )">Resign</button>
                    </div>
                </div>
                <div ng-if="!friend.approved">
                    <button class="create" ng-click="ctrl.approveUser(friend);friend.approved = true;">Approve</button>
                </div>
                <div ng-if="friend.approved && ctrl.profile.userId != friend.id">
                    <button class="minus" ng-click="ctrl.kickUserFromGroup(friend)">Kick</button>
                </div>
            </div>
        </div>
    </div>
    <more-button callback="ctrl.getMoreMembers()"></more-button>
</section>