<section role="feed">
    <h4>
        {{ ctrl.currentCollection.name }}
    </h4>
    <div class="actions">
        <button class="save-to-collection" ng-click="ctrl.saveCurrentCollection()">
        	<span ng-if="!ctrl.isUserAdmin || ctrl.currentCollection.shared">
    		{{ 'FEED.SAVE_COLLECTION' | translate }}
    		</span>
    		<span ng-if="ctrl.isUserAdmin && !ctrl.currentCollection.shared">
    		{{ 'FEED.EDIT_COLLECTION' | translate }}
    		</span>
    	</button>
        <button 
            class="delete" 
            ng-click="ctrl.deleteCurrentCollection()" 
            title="{{'FEED.SAVE_FILTER' | translate}}"
            ng-if="ctrl.isUserOwner"
        >
            {{ 'FEED.DELETE_FILTER' | translate }}
        </button>
    </div>
    <div ng-if="ctrl.posts && ctrl.posts.length > 0">
    <post-entry 
    	ng-repeat="post in ctrl.posts track by $index" 
    	entry="post" 
    	delegate="ctrl"
        hidden-from="true"
    >
	</post-entry>
    <more-button callback="ctrl.getMorePosts()"></more-button>
    </div>
    <div ng-if="ctrl.posts && ctrl.posts.length == 0" class="message">
        {{ 'COMMON.NO_POSTS' | translate }}
    </div>
</section>